{% extends 'mails/mail_base.html' %}

{% block content %}
<h2>Сброс пароля</h2>
<h4>Для сброса пароля перейдите по ссылке ниже.</h4>
<a href="{{ link }}" target="_blank"><button class="btn btn-primary"
                                       style="display: inline;
                                      margin: auto;
                                      box-sizing: content-box;
                                      height: auto;
                                      position: absolute;
                                      block-size: fit-content;
                                    text-decoration: none;
                                    background-color: white;
                                    color: #363F5C;
                                    padding: 3px 7px;
                                    border-radius: 7px;
                                    border: inset #363F5C;
">Сбросить пароль</button></a><br>
<h4>Если вы не собирались сбрасывать пароль, игнорируйте это письмо.</h4>

{% endblock %}