{% extends 'base.html' %} {% block title %} Смена пароля {% endblock %} {% block
content %}
<!--Страница смены пароля. Переменная success = True / unmatched / wrong_old-->

<div class="alarm">
  {% if message == 'unmatched' %}
  <br />Новый пароль не совпадает с подтверждением пароля. {% endif %}
</div>

<form action="/new_user_password" method="GET">
  <fieldset>
    <legend>
      <h2><b>Смена пароля</b></h2>
    </legend>
    <p>
      Пароль должен быть длиной от 6 до 14 символов, может содержать латинские
      символы, цифры и пунктуационные знаки.
    </p>
    <span class="required">Новый пароль</span><br />
    <span class="comment"
      >От 8 символов, может содержать латинские буквы, цифры и знаки
      препинания.</span
    ><br />
    <input
      size="30"
      name="new_password"
      type="password"
      pattern="[A-Za-z0-9\(\)\.,\?\*\+\-\[\]\{\}\/\\\$:;!%<>@_#]{8,50}"
      required
    /><br /><br />
    <span class="required">Подтверждение пароля</span><br />
    <input
      size="30"
      name="confirm_password"
      type="password"
      pattern="[A-Za-z0-9\(\)\.,\?\*\+\-\[\]\{\}\/\\\$:;!%<>@_#]{8,50}"
      required
    /><br /><br />
    <input type="hidden" name="user_id" value="{{ user }}" />
    <input class="button" type="submit" value="Поменять пароль" />
  </fieldset>
</form>

{% endblock %}
