secret.key
team_db.db
mail_data.py
/venv
/secr-env
/services
/logs
/__pycache__
check.py
plan.txt
DROP.py
DROP_annual.py
works.py
categories.json
works.json
team_db.db-journal
vernadsky.info.json
check.ipynb
test_db.db
/.ipynb_checkpoints
/instance
/templates/check.html
ajax_models.py
.idea
/test
requests_2.json
cat_site_ids.json
/static/files/generated_files
/static/files/uploaded_files
/Александр Сергеевич Саввичев.vcf
lesson_shedule.xlsx
personal_schedule.py
.DS_Store
yais_models.py
passenger_wsgi.py
credentials.json
token.json
secret.json
