{% extends 'base.html' %}

{% block content %}

<h1>Заявки волонтеров</h1>

<p>Выбрали задачи {{ vol_with_tasks }} волонтеров.</p>

<table frame="void" border="2px" bordercolor="#4962A4">
    <tr>
        <td align="center"><b>
            Задача
        </b></td>
        <td align="center"><b>
            Локация
        </b></td>
        <td align="center"><b>
            Надо
        </b></td>
        <td align="center"><b>
            Волонтер
        </b></td>
        <td align="center"><b>
            Школа, Класс
        </b></td>
        <td align="center"><b>
            Одобрено
        </b></td>
    </tr>
    <tr>
        {% for task in tasks %}
        <td rowspan="{{ task['volunteers_list']|length }}">
            {{ task['task_name'] }}<br>
            {{ task['task_date'] }} {{ task['start_time'] }} – {{ task['end_time'] }}
        </td>
        <td rowspan="{{ task['volunteers_list']|length }}" align="center">
            {{ task['location'] }}
        </td>
        <td rowspan="{{ task['volunteers_list']|length }}" align="center">
            {{ task['volunteers_required'] }}
        </td>
        {% if task['volunteers_list'] !=[] %}
        {% for volunteer in task['volunteers_list'] %}
        <td>
            <a href="/one_application/{{ year }}/{{ volunteer['user_id'] }}">{{ volunteer['name'] }}</a>
        </td>
        <td>
            {% if volunteer['school'] == 'MSU_School' %}
            УГ,
            {% elif volunteer['school'] == '1553' %}
            1553,
            {% endif %}
            {{ volunteer['class_name'] }}
        </td>
        <td></td>
        </tr>
        <tr>
        {% endfor %}
        {% else %}
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr>
        {% endif %}
        {% endfor %}
    </tr>
</table>

{% endblock %}