{% extends 'base.html' %}

{% block content %}
<table><tr>
    <td><h2>{{ category['name'] }}</h2></td>
{% if session['type'] == 'org' or session['type'] == 'admin' or session['type'] == 'manager' %}
    <td><a href="/edit_category/{{ category['id'] }}"><button>Редактировать секцию</button></a></td>
{% endif %}
</tr></table>

<table width="100%">
    <tr>
        <td rowspan="4">
            {{ category['contest'] }}<br>
            Направление: {{ category['direction'] }}<br>
            {% if category['tg_channel'] %}
            Telegram-канал: <a href="https://t.me/{{ category['tg_channel'] }}">@{{ category['tg_channel'] }}</a><br>
            {% endif %}
            {% if session['type'] == 'team' or session['type'] == 'admin' or session['type'] == 'manager' %}
            Руководитель секции: <a href="/supervisor_profile/{{ category['supervisor_id'] }}">{{ category['supervisor'] }}</a><br>
            {% else %}
            Руководитель секции: {{ category['supervisor'] }}
            {% endif %}
            {% if category['secretary'] %}
            {% if session['type'] == 'team' or session['type'] == 'admin' or session['type'] == 'manager' %}
            Секретарь: <a href="/user_page/{{ category['secretary_id'] }}">{{ category['secretary'] }}</a><br>
            {% else %}
            Секретарь: {{ category['secretary'] }}<br>
            {% endif %}
            {% endif %}
            Даты дистанционного заседания секции: {{ category['dates'] }}<br>
            {% if category['drive_link'] %}
            <a href="{{ category['drive_link'] }}" target="_blank">Папка с презентациями секции</a>
            {% endif %}

        </td>
        {% if session['type'] in ['admin', 'org', 'manager']
        or (session['supervisor'] == True and category['id'] in session['cat_id'])
        or (session['secretary'] == True and category['id'] in session['cat_id']) %}
            <td width="auto" valign="middle"><a href="/button_works/{{ category['id'] }}">
                <button>Обновить работы секции</button>
            </a></td>
    </tr>
    <tr>
<!--            <td width="auto" valign="middle"><a href="/reports_order/{{ category['id'] }}">-->
<!--                <button>Порядок выступлений</button>-->
<!--            </a></td>-->
    </tr>
    <tr>
            <td width="auto" valign="middle"><a href="/analysis_works/{{ category['id'] }}">
                <button {% if need_analysis == True %} class="red-button" {% else %} {% endif %}>Анализ рецензий</button>
            </a></td>
        {% endif %}
    </tr>
    <tr>
<!--            <td width="auto" valign="middle"><a href="/experts/{{ category['id'] }}">-->
<!--                <button>Эксперты секции</button>-->
<!--            </a></td>-->
    </tr>
</table>


{% if show_top_100 == True %}
{% if session['type'] in ['admin', 'org', 'manager']
or (session['supervisor'] == True and category['id'] in session['cat_id'])
or (session['secretary'] == True and category['id'] in session['cat_id']) %}
<h3>Работы, участвующие без оргвзноса</h3>
<p>2-4 лучшие работы от каждой секции получат возможность участвовать во 2 туре Конкурса без оплаты оргвзноса.
    Добавьте работы ниже, чтобы включить их в список.
    <b>Работы региональных туров в список не включаются и от оргвзноса не освобождаются</b>.</p>
<div class="alarm">
    {% if errors != None %}
    <span>Не удалось добавить работы:</span><br>
    {{ errors }}<br>
    {% endif %}
</div>
<form action="/works_for_free/{{ category['id'] }}" method="post">
    <fieldset>
        <span class="comment">Для добавления работ, с которых не будет взиматься оргвзнос,
            укажите их номера в поле ниже через запятую</span><br><br>
        <input type="text" name="works" size="70">
        <input class="button" type="submit" value="Добавить">
    </fieldset>
</form><br>

{% if works_no_fee != {} %}
<table frame="void" border="2px" bordercolor="#4962A4">
    <tr>
        <td align="center">
            <b>Номер</b>
        </td>
        <td align="center">
            <b>Название</b>
        </td>
        <td align="center">
            <b>Убрать</b>
        </td>
    </tr>
    {% for key in works_no_fee %}
    <tr>
        <td>
            {{ works_no_fee[key]['work_id'] }}
        </td>
        <td>
            {{ works_no_fee[key]['work_name'] }}
        </td>
        <td align="center" vertical-align="bottom">
            <a href="/remove_no_fee/{{ category['id'] }}/{{ works_no_fee[key]['work_id'] }}" class="alarm">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<!--<h3>Работы на I туре</h3>-->
<!--<table frame="void" border="2px" bordercolor="#4962A4">-->
<!--    <tr>-->
<!--        <td align="center">-->
<!--            <b>Номер</b>-->
<!--        </td>-->
<!--        <td align="center">-->
<!--            <b>Название</b>-->
<!--        </td>-->
<!--        <td align="center">-->
<!--            <b>Авторы</b>-->
<!--        </td>-->
<!--    </tr>-->
<!--    {% for work in works_1_tour %}-->
<!--    <tr>-->
<!--        <td>-->
<!--            {{ work['work_id'] }}-->
<!--        </td>-->
<!--        <td>-->
<!--            {{ work['work_name'] }}-->
<!--        </td>-->
<!--        <td>-->
<!--            {{ work['authors'] }}-->
<!--        </td>-->
<!--    </tr>-->
<!--    {% endfor %}-->
<!--</table>-->
<br>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}