{% extends 'base.html' %}

{% block content %}

<h2>Объединения секций на доклады</h2>

<table frame="void" border="2px" bordercolor="#4962A4" width="100%">
    <tr>
        <td><b>

        </b></td>
        <td><b>
            Секции
        </b></td>
        <td><b>

        </b></td>
    </tr>
    {% for union in unions %}
    <tr>
        <td>
            {{ union['union_id'] }}
        </td>
        <td>
            {% for cat in union['categories'] %}
            <p>{{ cat ['name'] }}
                <a href="/clear_union/{{ union['union_id'] }}/{{ cat ['id'] }}" class="alarm" valign="middle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </a>
            </p>
            {% endfor %}
        </td>
        <td valign="middle">
            <form action="/set_category_union" method="POST">
                <fieldset>
                    <select name="cat_id">
                        <option class="container-fluid bg-2" value="None">Добавить еще секцию</option>
                        {% for c in cats %}
                        <option class="container-fluid bg-2" value="{{ c['id'] }}">{{ c['short_name'] }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="union_id" value="{{ union['union_id'] }}">
                    <button class="blue_no_border" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                        </svg></button>
                </fieldset>
            </form>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td>
            {{ n }}
        </td>
        <td>
        </td>
        <td valign="middle">
            <form action="/set_category_union" method="POST">
                <fieldset>
                    <select name="cat_id">
                        <option class="container-fluid bg-2" value="None">Добавить еще секцию</option>
                        {% for c in cats %}
                        <option class="container-fluid bg-2" value="{{ c['id'] }}">{{ c['short_name'] }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="union_id" value="{{ n }}">
                    <button class="blue_no_border" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                        </svg></button>
                </fieldset>
            </form>
        </td>
    </tr>
</table>

{% endblock %}