{% extends 'base.html' %}

{% block content %}
<table><tr>
    <td><h2>{{ category['name'] }}</h2></td>
{% if session['type'] == 'team' or session['type'] == 'admin' or session['type'] == 'manager' %}
    <td><a href="/edit_category/{{ category['id'] }}"><button>Редактировать секцию</button></a></td>
{% endif %}
</tr></table>
{{ category['contest'] }}<br>
Направление: {{ category['direction'] }}<br>
{% if category['tg_channel'] %}
Telegram-канал: <a href="https://t.me/{{ category['tg_channel'] }}">@{{ category['tg_channel'] }}</a><br>
{% endif %}
{% if session['type'] == 'team' or session['type'] == 'admin' or session['type'] == 'manager' %}
Руководитель секции: <a href="/supervisor_profile/{{ category['supervisor_id'] }}">{{ category['supervisor'] }}</a><br>
{% else %}
Руководитель секции: {{ category['supervisor'] }}
{% endif %}
{% if category['secretary'] %}
{% if session['type'] == 'team' or session['type'] == 'admin' or session['type'] == 'manager' %}
Секретарь: <a href="/user_page/{{ category['supervisor_id'] }}">{{ category['secretary'] }}</a><br>
{% else %}
Секретарь: {{ category['secretary'] }}<br>
{% endif %}
{% endif %}

<br>
{% if session['type'] == 'admin' or (session['supervisor'] == True and  session['cat_id'] == category['id']) %}
<table frame="void" border="2px" bordercolor="#4962A4">
    <tr>
        <td width="3%" align="center">
            <b>Анализ</b>
        </td>
        <td width="3%" align="center">
            <b>Номер</b>
        </td>
        <td width="50%" align="center">
            <b>Название</b>
        </td>
        <td width="15%" align="center">
            <b>Тур</b>
        </td>
    </tr>
    {% for key in works %}

        <tr>
            <td align="center">
                {{ works[key]['analysis'] }}
            </td>
            <td align="center">
                <a href="/pre_analysis/{{ works[key]['work_id'] }}">
                    {{ works[key]['work_id'] }}
                </a>
            </td>
            <td>
                <a href="/pre_analysis/{{ works[key]['work_id'] }}">
                    {{ works[key]['work_name'] }}<br>
                </a>
            </td>
            <td>
                {{ works[key]['region'] }}
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}