{% extends 'base.html' %}

{% block title %} Секции {% endblock %}

{% block content %}
<h2>Секции Конкурса</h2>
{% if session['type'] == 'admin' %}
<a href="/edit_category"><button>Добавить секцию</button></a><br><br>
<a href="/add_categories"><button>Добавить много секций</button></a><br><br>
<!--<form action="/add_categories" method = 'GET'>-->
<!--    <fieldset>-->
<!--        Добавить много секций<br>-->
<!--        <input type="file" id="file" name="file" accept=".txt" enctype="multipart/form-data"><br>-->
<!--        <input class="button" type="submit" value="Загрузить"><br>-->
<!--    </fieldset>-->
<!--</form><br>-->

Удалить секцию<br>
{% endif %}
Количество секций: {{ cats_count }}<br>
Количество секций без секретаря: {{ no_secr }}<br><br>

{% if session['type'] != 'user' and session['type'] %}
<table frame="void" border="2px" bordercolor="#4962A4">
    <tr>
        <td align="center" width="30%">
            <b>Название секции</b>
        </td>
        <td align="center">
            <b>tg-канал</b>
        </td>
        <td align="center" width="30%">
            <b>Руководитель секции</b>
        </td>
        <td align="center" width="20%">
            <b>Секретарь</b>
        </td>
    </tr>
{% for key in categories %}
    <tr
        {% if categories[key]['id'] == session['cat_id'] %}
            bgcolor="#ACD6EE"
        {% else %}
            bgcolor="#C5E3F3"
        {% endif %}>
        <td>
            <a href="/category_page/{{ categories[key]['id'] }}">{{ categories[key]['name'] }}</a>
        </td>
        <td>
            {% if categories[key]['tg_channel'] %}
            <a href="https://t.me/{{ categories[key]['tg_channel'] }}">@{{ categories[key]['tg_channel'] }}</a>
            {% endif %}
        </td>
        <td>
            <a href="/supervisor_profile/{{ categories[key]['supervisor_id'] }}">{{ categories[key]['supervisor'] }}</a>
        </td>
        <td>
            <a href="/user_page/{{ categories[key]['secretary_id'] }}">{{ categories[key]['secretary'] }}</a>
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}

{% if session['type'] == 'user' or not session['type'] %}
<table frame="void" border="2px" bordercolor="#4962A4">
{% for key in categories %}
    <tr bgcolor="#C5E3F3">
        <td width="45%">
            <a href="/category_page/{{ categories[key]['id'] }}">{{ categories[key]['name'] }}</a>
        </td>
        <td>
            {% if categories[key]['tg_channel'] %}
            <a href="https://t.me/{{ categories[key]['tg_channel'] }}">@{{ categories[key]['tg_channel'] }}</a>
            {% endif %}
        </td>
        <td>
            {{ categories[key]['supervisor'] }}
        </td>
    </tr>
{% endfor %}
</table><br>
{% endif %}

{% endblock %}