{% extends 'base.html' %}

{% block title %} Секции {% endblock %}

{% block content %}
<table>
    <tr>
        <td>
            <h2>Секции Конкурса</h2>
        </td>
        <td align="right">
            {% if session['type'] != 'user' and session['type'] %}
            <a href="/download_categories"><button>Скачать список этого года</button></a>
            {% endif %}
        </td>
    </tr>
</table>

{% if session['type'] == 'admin' %}
<a href="/edit_category"><button>Добавить секцию</button></a><br><br>
<a href="/add_categories"><button>Добавить много секций</button></a><br><br>
<!--<form action="/add_categories" method = 'GET'>-->
<!--    <fieldset>-->
<!--        Добавить много секций<br>-->
<!--        <input type="file" id="file" name="file" accept=".txt" enctype="multipart/form-data"><br>-->
<!--        <input class="button" type="submit" value="Загрузить"><br>-->
<!--    </fieldset>-->
<!--</form><br>-->

Удалить секцию<br>
{% endif %}
Количество секций: {{ cats_count }}<br>
Количество секций без секретаря: {{ no_secr }}<br><br>

{% if session['type'] != 'user' and session['type'] %}
<table frame="void" border="2px" bordercolor="#4962A4">
    <tr>
        <td align="center" width="30%">
            <b>Название секции</b>
        </td>
        <!-- <td align="center">
            <b>tg-канал</b>
        </td> -->
        <td align="center" width="30%">
            <b>Руководитель секции</b>
        </td>
        <td align="center" width="20%">
            <b>Секретарь</b>
        </td>
        <!-- <td align="center" width="20%">
            <b>Секретарь <br>на онлайне</b>
        </td> -->
    </tr>
{% for cat in categories %}
    <tr
        {% if 'cat_id' in session.keys() %}
        {% if cat['id'] in session['cat_id'] %}
            bgcolor="#ACD6EE"
        {% endif %}
        {% else %}
            bgcolor="#C5E3F3"
        {% endif %}>
        <td>
            <a href="/category_page/{{ cat['id'] }}">{{ cat['name'] }}</a>
        </td>
        <!-- <td>
            {% if cat['tg_channel'] %}
            <a href="https://t.me/{{ cat['tg_channel'] }}">@{{ cat['tg_channel'] }}</a>
            {% endif %}
        </td> -->
        <td>
            <a href="/supervisor_profile/{{ cat['supervisor_id'] }}">{{ cat['supervisor'] }}</a>
        </td>
        <td>
            <a href="/user_page/{{ cat['secretary_id'] }}">{{ cat['secretary'] }}</a>
        </td>
        <!-- <td>
            <a href="/user_page/{{ cat['online_secretary_id'] }}">{{ cat['online_secretary'] }}</a>
        </td> -->
    </tr>
{% endfor %}
</table>
{% endif %}

{% if session['type'] == 'user' or not session['type'] %}
<table frame="void" border="2px" bordercolor="#4962A4">
{% for cat in categories %}
    <tr bgcolor="#C5E3F3">
        <td width="45%">
            <a href="/category_page/{{ cat['id'] }}">{{ cat['name'] }}</a>
        </td>
        <td>
            {% if cat['tg_channel'] %}
            <a target="_blank" href="https://t.me/{{ cat['tg_channel'] }}">@{{ cat['tg_channel'] }}</a>
            {% endif %}
        </td>
        <td>
            {{ cat['supervisor'] }}
        </td>
    </tr>
{% endfor %}
</table><br>
{% endif %}

{% endblock %}