[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=naleont
Group=www-data
WorkingDirectory=/home/naleont/secretary_site
ExecStart=/home/naleont/secretary_site/venv/bin/gunicorn --access-logfile /home/naleont/secretary_site/logs/gunicorn-access.log --error-logfile /home/naleont/secretary_site/logs/gunicorn-error.log --capture-output --log-level debug --workers 9 --timeout 180 --bind 0.0.0.0:8000 --limit-request-line 10000 wsgi:app

[Install]
WantedBy=multi-user.target 
