{% extends 'base.html' %}

{% block content %}

<h2>Эксперты секций</h2>

{% if cat_id != 'all' %}
<div class="bigger">Добавить эксперта, уже зарегистрированного на другой секции:
    <div class="drop">
      <button class="dropping">
        Выбрать эксперта
      </button>
      <div class="dropped">
          {% for expert in all_exps %}
            <a href="/add_existing_expert/{{ cats[0]['id'] }}/{{ expert['id'] }}">{{ expert['name'] }}</a>
          {% endfor %}
      </div>
    </div>
</div>

<form action="/save_expert/{{ cats[0]['id'] }}" method="POST">
    <fieldset>
        <table>
            <tr>
                <td>
                    <span class="required">Фамилия</span><br>
                    <input type="text" size="20" name="last_name" pattern="[А-ЯЁ][а-яё]+(-?\s?[А-ЯЁ][а-яё]+)?"
                           class="blue-border" required
                    {% if expert_to_edit != None %}
                    {% if expert_to_edit['last_name'] %}
                    value="{{ expert_to_edit['last_name'] }}"
                    {% endif %}
                    {% endif %}><br>
                </td>
                <td>
                    <span class="required">Имя</span><br>
                    <input type="text" size="20" name="first_name" pattern="[А-ЯЁ][а-яё]+(-?\s?[А-ЯЁ][а-яё]+)?"
                           class="blue-border" required
                    {% if expert_to_edit != None %}
                    {% if expert_to_edit['first_name'] %}
                    value="{{ expert_to_edit['first_name'] }}"
                    {% endif %}
                    {% endif %}><br>
                </td>
                <td>
                    <span class="required">Отчество</span><br>
                    <input type="text" size="20" name="patronymic" pattern="[А-ЯЁ][а-яё]+(-?\s?[А-ЯЁ][а-яё]+)?"
                           class="blue-border"
                    {% if expert_to_edit != None %}
                    {% if expert_to_edit['patronymic'] %}
                    value="{{ expert_to_edit['patronymic'] }}"
                    {% endif %}
                    {% endif %}><br>
                </td>
                <td valign="middle" rowspan="2">
                    {% if expert_to_edit != None %}
                        <input type="hidden" name="expert_id" value="{{ expert_to_edit['expert_id'] }}">
                    {% endif %}
                    <input class="button" type="submit" value="Сохранить">
                </td>
            </tr>
            <tr>
                <td>
                    <span>email</span><br>
                    <input size="20" name="email" type="email" placeholder="example@example.com"
                           class="blue-border"
                    {% if expert_to_edit != None %}
                    {% if expert_to_edit['email'] %}
                    value="{{ expert_to_edit['email'] }}"
                    {% endif %}
                    {% endif %}><br>
                </td>
                <td>
                    <span>Ученая степень</span><br>
                    <input type="text" size="20" name="degree"
                           class="blue-border"
                    {% if expert_to_edit != None %}
                    {% if expert_to_edit['degree'] %}
                    value="{{ expert_to_edit['degree'] }}"
                    {% endif %}
                    {% endif %}><br>
                </td>
                <td>
                    <span>Место работы</span><br>
                    <input type="text" size="20" name="place_of_work"
                           class="blue-border"
                    {% if expert_to_edit != None %}
                    {% if expert_to_edit['place_of_work'] %}
                    value="{{ expert_to_edit['place_of_work'] }}"
                    {% endif %}
                    {% endif %}><br>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
{% endif %}

<br>

{% if cat_id != 'all' %}
<form action="/expert_time/{{ cats[0]['id'] }}" method="POST">
    <fieldset>
{% endif %}
        <table frame="void" border="2px" bordercolor="#4962A4" width="100%">
            <tr>
                <th align="center" rowspan="2" colspan="2"><b>

                </b></th>
                <th align="center" rowspan="2"><b>
                    ФИО
                </b></th>
                <th align="center" rowspan="2"><b>
                    e-mail
                </b></th>
                <th align="center" rowspan="2"><b>
                    Ученая степень
                </b></th>
                <th align="center" rowspan="2"><b>
                    Место работы
                </b></th>
                <th align="center" colspan="{{ all_days|length }}"><b>
                    {% if cat_id != 'all' %}
                    <input class="button" type="submit" value="Сохранить"><br>
                    {% endif %}
                    Время работы
                </b></th>
            </tr>
            <tr>
                {% for d in all_days %}
                <th align="center">
                    {{ d }}
                </b></th>
                {% endfor %}
            </tr>
            {% for cat in cats %}
            <tr>
                <td align="center" colspan="{{ 6 + all_days|length }}">
                    <b>{{ cat['name'] }}</b>
                </td>
            </tr>
            {% for expert in cat['experts'] %}
            <tr>
                <td align="center">
                    <a href="/delete_expert/{{ cat['id'] }}/{{ expert['expert_id'] }}" class="alarm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </a>
                </td>
                <td align="center">
                    <a href="/experts/{{ cat['id'] }}/{{ expert['expert_id'] }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                    </a>
                </td>
                <td>
                    {{ expert['last_name'] }} {{ expert['first_name'] }} {{ expert['patronymic'] }}
                </td>
                <td>
                    {{ expert['email'] }}
                </td>
                <td>
                    {{ expert['degree'] }}
                </td>
                <td>
                    {{ expert['place_of_work'] }}
                </td>
                {% for d in all_days %}
                <td align="center">
                {% if cat['c_dates']['d_1'] != None and cat['c_dates']['d_1'] == d %}
                    {% if cat_id != 'all' %}
                    <input type="time" name="day_1_start/{{ expert['expert_id'] }}"
                    {% if expert['day_1_start'] != '' %}
                    value="{{ expert['day_1_start'] }}"
                    {% endif %}> - <input type="time" name="day_1_end/{{ expert['expert_id'] }}"
                    {% if expert['day_1_end'] != '' %}
                    value="{{ expert['day_1_end'] }}"
                    {% endif %}>
                    {% else %}
                    {% if expert['day_1_start'] != '' or expert['day_1_end'] != '' %}
                    {{ expert['day_1_start'] }} - {{ expert['day_1_end'] }}
                    {% endif %}
                    {% endif %}
                {% elif cat['c_dates']['d_2'] != None and cat['c_dates']['d_2'] == d %}
                    {% if cat_id != 'all' %}
                    <input type="time" name="day_2_start/{{ expert['expert_id'] }}"
                    {% if expert['day_2_start'] != '' %}
                    value="{{ expert['day_2_start'] }}"
                    {% endif %}> - <input type="time" name="day_2_end/{{ expert['expert_id'] }}"
                    {% if expert['day_2_end'] != '' %}
                    value="{{ expert['day_2_end'] }}"
                    {% endif %}>
                    {% else %}
                    {% if expert['day_2_start'] != '' or expert['day_2_end'] != '' %}
                    {{ expert['day_2_start'] }} - {{ expert['day_2_end'] }}
                    {% endif %}
                    {% endif %}
                {% elif cat['c_dates']['d_3'] != None and cat['c_dates']['d_3'] == d %}
                    {% if cat_id != 'all' %}
                    <input type="time" name="day_3_start/{{ expert['expert_id'] }}"
                    {% if expert['day_3_start'] != '' %}
                    value="{{ expert['day_3_start'] }}"
                    {% endif %}> - <input type="time" name="day_3_end/{{ expert['expert_id'] }}"
                    {% if expert['day_3_end'] != '' %}
                    value="{{ expert['day_3_end'] }}"
                    {% endif %}>
                    {% else %}
                    {% if expert['day_3_start'] != '' or expert['day_3_end'] != '' %}
                    {{ expert['day_3_start'] }} - {{ expert['day_3_end'] }}
                    {% endif %}
                    {% endif %}
                {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            {% endfor %}
        </table>
{% if cat_id != 'all' %}
    </fieldset>
</form>
{% endif %}

{% endblock %}