{% extends 'base.html' %}

{% block content %}
<h2>Анализ рецензий</h2>
<ul class="large-text">
<!--    <li>-->
<!--        <a href="/categories">Список секций</a>-->
<!--    </li>-->
<!--    <li>-->
<!--        <a href="/supervisors">Список русеков</a>-->
<!--    </li>-->
    <li>
        <a href="/analysis_criteria">Критерии анализа</a>
    </li>
    <li>
        <a href="/analysis_state">Состояние анализа</a>
    </li>
    <li>
        <a href="/rev_analysis_results">Итоги анализа</a>
    </li>
</ul>

{% endblock %}