{% extends 'base.html' %}

{% block content %}

<h2>Состояние анализа рецензий</h2>

<table frame="void" border="2px" bordercolor="#4962A4">
    <tr>
        <td align="center"><b>
            Секция
        </b></td>
        <td align="center"><b>
            Поступило
        </b></td>
        <td align="center"><b>
            Анализ заполнен
        </b></td>
        <td align="center"><b>
            Осталось
        </b></td>
    </tr>
    {% for key in ana_nums %}
    <tr
        {% if ana_nums[key]['regional_applied'] == 0 %}
        {% elif ana_nums[key]['analysed'] == 0 %}
            bgcolor="#FFBDBD"
        {% elif ana_nums[key]['left'] == 0 %}
            bgcolor="#BBDAB8"
        {% else %}
            bgcolor="#FFFFB9"
        {% endif %}>
        <td>
            {% if session['type'] == 'admin' or session['type'] == 'org' or session['type'] == 'manager'
            or (session['supervisor'] == True and  session['cat_id'] == ana_nums[key]['cat_id'])
            or (session['secretary'] == True and  session['cat_id'] == ana_nums[key]['cat_id']) %}
                <a href="/analysis_works/{{ ana_nums[key]['cat_id'] }}">{{ ana_nums[key]['cat_name'] }}</a>
            {% else %}
                <a href="/category_page/{{ ana_nums[key]['cat_id'] }}">{{ ana_nums[key]['cat_name'] }}</a>
            {% endif %}
        </td>
        <td align="center">
            {{ ana_nums[key]['regional_applied'] }}
        </td>
        <td align="center">
            {{ ana_nums[key]['analysed'] }}
        </td>
        <td align="center">
            {{ ana_nums[key]['left'] }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}