{% extends 'base.html' %}

{% block content %}

<form action="/write_analysis" method = 'POST'>
    <fieldset>
        <legend><h2><b>Анализ рецензии на работу {{ work['work_id'] }}</b></h2>
        <h4><b>{{ work['work_name'] }}</b></h4></legend>
        <input type="hidden" name="work_id" value="{{ work['work_id'] }}">
        {% for key in criteria %}
        <span class="required">{{ criteria[key]['name'] }}</span><br>
        {% if criteria[key]['description'] %}
        <span class="comment">
            {{ criteria[key]['description'] }}
        </span><br>
        {% endif %}
        </span>
                <p><select name="{{ criteria[key]['id'] }}" required>
                    <option class="container-fluid bg-2" value="" {% if analysis == None or not analysis[criteria[key]['id']] %}
                    selected="true" {% endif %} disabled>Не выбрано</option>
                    {% for k in criteria[key]['values'] %}
                    <option class="container-fluid bg-2"
                            {% if analysis != None %}
                            {% if analysis[criteria[key]['id']] %}
                            {% if analysis[criteria[key]['id']]['val_id'] == criteria[key]['values'][k]['value_id'] %}
                            selected="true"
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            value="{{ criteria[key]['values'][k]['value_id'] }}">
                        {{ criteria[key]['values'][k]['val_name'] }}</option>
                    {% endfor %}
                </select></p>
        {% for k in criteria[key]['values'] %}
        {% if criteria[key]['values'][k]['comment'] %}
        <span class="comment">{{ criteria[key]['values'][k]['val_name'] }} -
            {{ criteria[key]['values'][k]['comment'] }}</span><br>
        {% endif %}
        {% endfor %}<br>
        {% endfor %}
        <input class="button" type="submit" value="Сохранить"><br>
    </fieldset>
</form>

{% endblock %}