{% extends 'base.html' %}

{% block content %}

<h2>Состояние анализа рецензий</h2>

<h4>Подано <b>{{ all_stats['regionals'] }}</b>
    {% if all_stats['regionals'] % 10 == 1 and all_stats['regionals'] != 11 %}
    работа
    {% elif all_stats['regionals'] % 10 in [2, 3, 4] and all_stats['regionals'] not in [12, 13, 14] %}
    работы
    {% elif all_stats['regionals'] % 10 in [5, 6, 7, 8, 9, 0] or all_stats['regionals'] in [11, 12, 13, 14] %}
    работ
    {% endif %}
    с <b>{{ all_stats['regions'] }}</b>
    {% if all_stats['regions'] % 10 == 1 and all_stats['regions'] != 11 %}
    регионального тура.
    {% elif all_stats['regions'] % 10 in [2, 3, 4, 5, 6, 7, 8, 9, 0] or all_stats['regions'] == 11 %}
    региональных туров.
    {% endif %}
    Проанализировано <b>{{ all_stats['analysed'] }}</b>
    {% if all_stats['analysed'] % 10 == 1 and all_stats['analysed'] != 11 %}
    работа.
    {% elif all_stats['analysed'] % 10 in [2, 3, 4] and all_stats['analysed'] not in [12, 13, 14] %}
    работы.
    {% elif all_stats['analysed'] % 10 in [5, 6, 7, 8, 9, 0] or all_stats['analysed'] in [11, 12, 13, 14] %}
    работ.
    {% endif %}
    Осталось <b>{{ all_stats['left'] }}</b>
    {% if all_stats['left'] % 10 == 1 and all_stats['left'] != 11 %}
    работа.
    {% elif all_stats['left'] % 10 in [2, 3, 4] and all_stats['left'] not in [12, 13, 14] %}
    работы.
    {% elif all_stats['left'] % 10 in [5, 6, 7, 8, 9, 0] or all_stats['left'] in [11, 12, 13, 14] %}
    работ.
    {% endif %}</h4>
<br>

<table frame="void" border="2px" bordercolor="#4962A4">
    <tr>
        <td align="center"><b>
            Секция
        </b></td>
        <td align="center"><b>
            Поступило
        </b></td>
        <td align="center"><b>
            Анализ заполнен
        </b></td>
        <td align="center"><b>
            Осталось
        </b></td>
    </tr>
    {% for ana in ana_nums %}
    <tr
        {% if ana['regional_applied'] == 0 %}
        {% elif ana['analysed'] == 0 %}
            bgcolor="#FFBDBD"
        {% elif ana['left'] == 0 %}
            bgcolor="#BBDAB8"
        {% else %}
            bgcolor="#FFFFB9"
        {% endif %}>
        <td>
            {% if session['type'] in ['admin', 'org', 'manager']
            or (session['supervisor'] == True and  session['cat_id'] == ana['cat_id'])
            or (session['secretary'] == True and  session['cat_id'] == ana['cat_id']) %}
                <a href="/analysis_works/{{ ana['cat_id'] }}">{{ ana['cat_name'] }}</a>
            {% else %}
                <a href="/category_page/{{ ana['cat_id'] }}">{{ ana['cat_name'] }}</a>
            {% endif %}
        </td>
        <td align="center">
            {{ ana['regional_applied'] }}
        </td>
        <td align="center">
            {{ ana['analysed'] }}
        </td>
        <td align="center">
            {{ ana['left'] }}
        </td>
    </tr>
    {% endfor %}
</table>
<br>
{% endblock %}