{% extends 'base.html' %}

{% block content %}
<h2><b>Анализ рецензии на работу {{ work['work_id'] }}</b></h2>
<h4><b>{{ work['work_name'] }}</b></h4>
<a href="/pre_analysis/{{ work['work_id'] }}"><button>
    {% if work['analysis'] == True or pre_ana != None %}
        Редактировать анализ
    {% elif work['analysis'] == False %}
        Заполнить анализ
    {% endif %}
</button></a><br><br>

{% if pre_ana != None %}
<table frame="void" border="2px" bordercolor="#4962A4">
    <tr>
        <td colspan="2">
            <b>О работе</b>
        </td>
    </tr>
    <tr>
        <td width="70%">
            Была бы допущена при нашем рецензировании
        </td>
        <td width="30%">
            {% if pre_ana['good_work'] == True %}
            Да
            {% elif pre_ana['good_work'] == False %}
            Нет
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            Соответствует формату Конкурса
        </td>
        <td>
            {{ pre_ana['research'] }}
        </td>
    </tr>
    <tr>
        <td>
            Поступила с рецензией
        </td>
        <td>
            {% if pre_ana['has_review'] == True %}
            Да
            {% elif pre_ana['has_review'] == False %}
            Нет
            {% endif %}
        </td>
    </tr>
    {% if pre_ana['has_review'] == True %}
    {% if work['analysis'] == True or work['analysis'] == 'part' %}
    <tr>
        <td colspan="2">
            <br>
            <b>О рецензии</b>
        </td>
    </tr>
    {% for key in criteria %}
    <tr>
        <td>
            {{ criteria[key]['name'] }}
        </td>
        <td>
            {% for k in analysis %}
            {% if k == key %}
            {{ analysis[k]['val_name'] }}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    {% endif %}
    {% endif %}
</table>
{% endif %}
{% endblock %}