{% extends 'base.html' %}

{% block content %}
<h2>Сброс пароля</h2>
{% if message == 'wrong_user' %}
<div class="alarm">
  <br>Нет пользователя с таким e-mail или номером телефона: {{ query }}
</div>
{% endif %}
<form action="/reset_password" method = 'POST'>
    <fieldset>
        <span>Введите e-mail или номер телефона, которые вы указывали при регистрации</span><br><br>
        <input type="text" name="user" size="30"><br><br>
        <input class="button" type="submit" value="Отправить письмо для сброса пароля">
    </fieldset>
</form>

{% endblock %}