{% extends 'base.html' %}

{% block title %} Редактирование профиля {% endblock %}

{% block content %}

<form action="/application_process" method = 'POST'>
    <legend><h2><b>Заявка в команду</b></h2>
        <span class="comment">Полный список секций можно посмотреть в низу страницы</span></legend>
    <fieldset>
                <span class="required">Хочу в команду в роли</span><br>
                    <input type="radio" name="role" value="secretary" {% if application['role'] == "secretary" %} checked
                            {% endif %}> Секретаря<br>
                    <input type="radio" name="role" value="volunteer" {% if application['role'] == "volunteer" %} checked
                            {% endif %}> Волонтера<br>
                    <input type="radio" name="role" value="other" {% if application['role'] == "other" %} checked
                            {% endif %}> Другое<br>
                    <input type="radio" name="role" value="not_sure" {% if application['role'] == "not_sure" %} checked
                            {% endif %}> Пока не знаю<br><br>
                <span>Хочу быть секретарем секции (только для секретарей)</span><br>
                    <p><span class="comment">Первый приоритет</span>
                    <select name="category_1">
                    <option class="container-fluid bg-2" {% if not application['category_1_id'] or
                    application['category_1_id'] == None %} selected="true" {% endif %}
                            value="None">Выберите секцию</option>
                    {% for cat in categories %}
                    <option class="container-fluid bg-2" {% if cat['id'] == application['category_1_id'] %}
                            selected="true" {% endif %} value={{ cat['id'] }}>{{ cat['name'] }}</option>
                    {% endfor %}
                </select></p>
                    <p><span class="comment">Второй приоритет</span>
                <select name="category_2">
                    <option class="container-fluid bg-2" {% if not application['category_2_id'] or
                    application['category_2_id'] == None %}
                            selected="true" {% endif %} value="None">Выберите секцию</option>
                    {% for cat in categories %}
                    <option class="container-fluid bg-2" {% if cat['id'] == application['category_2_id'] %} selected="true" {% endif %}
                            value={{ cat['id'] }}>{{ cat['name'] }}</option>
                    {% endfor %}
                </select></p>
                    <p><span class="comment">Третий приоритет</span>
                <select name="category_3">
                    <option class="container-fluid bg-2" {% if not application['category_3_id'] or
                    application['category_3_id'] == None %} selected="true"
                            {% endif %} value="None">Выберите секцию</option>
                    {% for cat in categories %}
                    <option class="container-fluid bg-2" {% if cat['id'] == application['category_3_id'] %}
                            selected="true" {% endif %} value={{ cat['id'] }}>{{ cat['name'] }}</option>
                    {% endfor %}
                </select></p>
                <input type="checkbox" name="any_category" value="True" {% if application['any_category'] == True %}
                        checked {% endif %}> Годится любая секция<br>
                <span class="comment">Отметьте, если вы согласны "спасти" любую секцию, если три выбранные
                    очень нужно будет отдать кому-нибудь другому.</span><br><br>
                <p><span class="required">Я уже работал на чтениях</span><br>
                    <select name="taken_part" required>
                    <option {% if application['taken_part'] == None %} selected="true" {% endif %}
                            disabled>Выберите вариант</option>
                    <option {% if application['taken_part'] == "not" %} selected="true" {% endif %}
                            value="not">Нет</option>
                    <option {% if application['taken_part'] == "secretary" %} selected="true" {% endif %}
                            value="secretary">Был секретарем</option>
                    <option {% if application['taken_part'] == "volunteer" %} selected="true" {% endif %}
                            value="volunteer">Был волонтером</option>
                    </select>
                <br><span class="comment">Если вы уже работали и волонтером, и секретарем, отмечайте "секретарем"</span>
                </p>
            <input class="button" type="submit" value="Сохранить">
    </fieldset>
</form>

<h3>Полный список секций</h3>

<table frame="void" border="2px" bordercolor="#4962A4">
    <tr>
        <td>
            <b>Название секции</b>
        </td>
        <td>
            <b>Руководитель секции</b>
        </td>
        <td>
            <b>Возраст участников</b>
        </td>
        <td>
            <b>Секретарь</b>
        </td>
    </tr>
{% for cat in categories %}
    <tr bgcolor="#C5E3F3">
        <td width="45%">
            {{ cat['name'] }}
        </td>
        <td>
            <a href="/supervisor_profile/{{ cat['supervisor_id'] }}" target="_blank">
                {{ cat['supervisor'] }}</a>
        </td>
        <td>
            {% if cat['contest'] == 'Конкурс им. В. И. Вернадского' %}
            8 - 11 класс
            {% elif cat['contest'] == 'Тропой открытий В. И. Вернадского' %}
            5 - 7 класс
            {% endif %}
        </td>
        <td>
            {% if cat['secretary']%}
            Есть
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table><br>
{% endblock %}
