{% extends 'base.html' %}

{% block content %}

<h2>Я - Исследователь. Секции</h2>
<form action="/yais_add_category" method="POST">
    <fieldset>
        <table width="100%" frame="hsides">
            <tr>
                <td align="center">
                    <span>Название секции</span><br>
                    <input type="text" size="50" name="cat_name" pattern="\d+[\,\.]*\d*" class="blue-border" required
                    {% if cat_to_edit != None %}
                    {% if cat_to_edit['cat_name'] %}
                    value="{{ cat_to_edit['cat_name'] }}"
                    {% endif %}
                    {% endif %}>
                </td>
                <td align="center">
                    <span>Код секции</span><br>
                    <input type="text" size="10" name="cat_short_name" class="blue-border" required
                    {% if cat_to_edit != None %}
                    {% if cat_to_edit['cat_short_name'] %}
                    value="{{ cat_to_edit['cat_short_name'] }}"
                    {% endif %}
                    {% endif %}>
                </td>
                <td align="center">
                {% if cat_to_edit != None %}
                    <input type="hidden" name="сat_id" value="{{ cat_to_edit['сat_id'] }}">
                {% endif %}
                <input class="button" type="submit" value="Сохранить">
                </td>
            </tr>
        </table>
    </fieldset>
</form>

<table frame="void" border="2px" bordercolor="#4962A4" width="100%">
    <tr>
        <td><b>

        </b></td>
        <td><b>

        </b></td>
        <td><b>
            Название секции
        </b></td>
        <td><b>
            Код секции
        </b></td>
    </tr>
    {% for cat in cats %}
    <tr>
        <td align="center">
            <a href="/yais_delete_cat/{{ cat['cat_id'] }}" class="alarm">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </a>
        </td>
        <td align="center">
            <a href="/yais_categories/{{ cat['cat_id'] }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>
            </a>
        </td>
        <td>
            {{ cat['cat_name'] }}
        </td>
        <td align="center">
            {{ cat['cat_short_name'] }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}