{% extends 'base.html' %}

{% block content %}

<h2>Приезд участников</h2>

<form action="/yais_save_arrival" method="POST">
    <fieldset>
        <h3>Участники</h3>
        <input class="button" type="submit" value="Сохранить"><br>
        <table frame="void" border="2px" bordercolor="#4962A4" width="100%">
            <tr>
                <th>
                    Приезд
                </th>
                <th>
                    Имя
                </th>
                <th>
                    Класс
                </th>
                <th>
                    Город
                </th>
                <th>
                    Работа
                </th>
                <th>
                    Секция
                </th>
                <th>
                    Оплата
                </th>
                <th>
                    Организация
                </th>
            </tr>
            {% for a in authors %}
            <tr>
                <td align="center">
                    <input type="checkbox" name="author" value="{{ a['author_id'] }}"
                           {% if a['arrived'] == True %} checked {% endif %}>
                </td>
                <td>
                    {{ a['author_name'] }}
                </td>
                <td align="center">
                    {{ a['class'] }}
                </td>
                <td>
                    {{ a['city'] }}
                </td>
                <td>
                    {{ a['work'] }}
                </td>
                <td>
                    {{ a['cat_name'] }}
                </td>
                <td align="center">
                    {% if a['payed'] == True %}
                        <span class="green-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                              <circle cx="8" cy="8" r="8"/>
                            </svg>
                        </span>
                    {% else %}
                        <span class="alarm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                              <circle cx="8" cy="8" r="8"/>
                            </svg>
                        </span>
                    {% endif %}
                </td>
                <td>
                    {{ a['organisation'] }}
                </td>
            </tr>
            {% endfor %}
        </table>
<h3>Руководители</h3>
        <table frame="void" border="2px" bordercolor="#4962A4" width="100%">
            <tr>
                <th>
                    Приезд
                </th>
                <th>
                    Имя
                </th>
                <th>
                    Город
                </th>
                <th>
                    Работа
                </th>
                <th>
                    Секция
                </th>
                <th>
                    Оплата
                </th>
                <th>
                    Организация
                </th>
            </tr>
            {% for a in supervisors %}
            <tr>
                <td align="center">
                    <input type="checkbox" name="supervisor" value="{{ a['supervisor_id'] }}" {% if a['arrived'] == True %} checked {% endif %}>
                </td>
                <td>
                    {{ a['supervisor_name'] }}
                </td>
                <td>
                    {{ a['city'] }}
                </td>
                <td>
                    {{ a['work'] }}
                </td>
                <td>
                    {{ a['cat_name'] }}
                </td>
                <td align="center">
                    {% if a['payed'] == True %}
                        <span class="green-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                              <circle cx="8" cy="8" r="8"/>
                            </svg>
                        </span>
                    {% else %}
                        <span class="alarm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                              <circle cx="8" cy="8" r="8"/>
                            </svg>
                        </span>
                    {% endif %}
                </td>
                <td>
                    {{ a['organisation'] }}
                </td>
            </tr>
            {% endfor %}
        </table><br>
        <input class="button" type="submit" value="Сохранить">
    </fieldset>
</form>

{% endblock %}