{% extends 'base.html' %}

{% block content %}

<h2>Платежи</h2>

<div class="bigger">Показать только платежи:
    <div class="drop">
      <button class="dropping">
        {{ query_name }}
      </button>
      <div class="dropped">
          {% for p_type in types %}
            <a href="/manage_payments/{{ p_type }}/30/1">{{ p_type }}</a>
          {% endfor %}
      </div>
    </div>
</div>

{% include 'include/iterate_pages.html' %}

<table frame="void" border="2px" bordercolor="#4962A4">
  <tr>
    <td align="center" width="5%"><b>

    </b></td>
    <td align="center" width="5%"><b>

    </b></td>
    <td align="center" width="10%"><b>
      Дата
    </b></td>
    <td align="center" width="7%"><b>
      Сумма
    </b></td>
    <td align="center" width="7%"><b>
      Остаток
    </b></td>
    <td align="center" width="33%"><b>
      Комментарий
    </b></td>
    <td align="center" width="33%"><b>
      Плательщик
    </b></td>
  </tr>
  {% for payment in statement %}

  <tr
  {% if payment['remainder'] == '0' %}
  bgcolor="#C6E0B4"
  {% elif payment['remainder'] != payment['debit'] %}
  bgcolor="#FFEE91"
  {% endif %}>
    <td align="center" valign="middle">
      <a href="/confirm_delete/платеж {{ payment['payment_id'] }}/{{ payment['payment_id'] }}/delete_payment" class="alarm">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
    </a></td>
    <td align="center"><a href="/set_payee/{{ payment['payment_id'] }}">
      {{ payment['payment_id'] }}
    </a></td>
    <td align="center"><a href="/set_payee/{{ payment['payment_id'] }}">
      {{ payment['date'] }}
    </a></td>
    <td align="center"><a href="/set_payee/{{ payment['payment_id'] }}">
      {{ payment['debit'] }} р.
    </a></td>
    <td align="center"><a href="/set_payee/{{ payment['payment_id'] }}">
      {{ payment['remainder'] }} р.
    </a></td>
    <td><a href="/set_payee/{{ payment['payment_id'] }}">
      {{ payment['comment'] }}
    </a></td>
    <td><a href="/set_payee/{{ payment['payment_id'] }}">
      {{ payment['organisation'] }}
    </a></td>
  </tr>

  {% endfor %}
</table>

{% endblock %}