{% extends 'base.html' %}

{% block content %}

<table width="100%">
    <tr>
        <td>
            <h2>Платеж {{ payment['payment_id'] }}</h2>
        </td>
        <td align="right">

            <form action="/application_payment/{{ payment['payment_id'] }}" method = 'GET'>
                <fieldset>
                    <input size="30" class="blue-border" type="text" name="payee">
                    <button class="blue_no_border" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg></button>
                </fieldset>
            </form>
        </td>
    </tr>
</table>

Дата получения платежа: {{ payment['date'] }}<br>
Сумма: {{ payment['debit'] }}<br>
{% if payment['remainder'] != '0 р.' %}
<span class="alarm">Не распределено: {{ payment['remainder'] }}</span>
{% else %}
Платеж распределен по участникам
{% endif %}<br><br>
Комментарий к платежу: {{ payment['comment'] }}<br><br>
Плательщик: {{ payment['organisation'] }}<br>
ИНН: {{ payment['tin'] }}<br>
БИК: {{ payment['bic'] }}<br>
Название банка: {{ payment['bank_name'] }}<br>
Счет плательщика: {{ payment['account'] }}<br>
Номер платежного документа: {{ payment['order_id'] }}<br><br>

{% if participant['type'] == 'None' and participant['participant'] != None or participant['works'] == [] %}

{{ participant['participant'] }}: Не найдено таких участников

{% elif participant['type'] == 'work' %}

<form action="/set_payment/{{ payment['payment_id'] }}/{{ participant['works']['work_id'] }}" method = 'POST'>
    <fieldset>
        <table>
            <tr>
                <td width="70%">
                    <input type="checkbox" name="{{ participant['works']['work_id'] }}" checked>
                    <b>Работа {{ participant['works']['work_id'] }}
                    {% if participant['works']['part_offline'] == True %}
                        <span class="alarm">Участвовала очно</span>
                    {% else %}
                        <span class="green-text">Д</span>
                    {% endif %}</b><br>
                        {{ participant['works']['work_name'] }}
                        {% if participant['works']['reg_tour'] %}
                        <span class="alarm">{{ participant['works']['reg_tour'] }} тур</span>
                        {% endif %}<br>
                    <i>{{ participant['works']['authors'] }}</i><br>
                        Оргвзнос {{ participant['works']['fee'] }}р.
                            {% if participant['works']['payed'] == True %}
                            <span class="green-text">(Оплачен)</span>
                            {% elif participant['works']['payed'] == False %}
                            <span class="alarm">(Не оплачен)</span>
                            {% endif %},
                            {% if not participant['works']['format'] or participant['works']['format'] == 'face-to-face' %}
                                Очное участие
                            {% elif participant['works']['format'] == 'online'%}
                                Дистанционное участие
                            {% endif %}
                    <br>
                            <a href="/application_payment/{{ payment['payment_id'] }}/{{ participant['works']['appl_no'] }}"><div class="blue_no_border" type="submit">
                    <b>Заявка {{ participant['works']['appl_no'] }}</b></div></a>
                </td>
                <td width="30%">
                    <input class="button" type="submit" value="Назначить платеж работе"><br><br>
                    <a href="/discount_and_participation_mode/{{ participant['works']['work_id'] }}">
                        <div class="green-button">Исправить суммы оргвзносов</div></a>
                </td>
            </tr>
        </table>
    </fieldset>
</form>

{% elif participant['type'] == 'appl' %}
<table>
    {% for appl in participant['participant'] %}
    <tr>
        <td>
            <b>Заявка {{ appl['id'] }}</b><br>
                <b>Работы</b><br>
                {% for work in appl['works'] %}
                <i>Работа {{ work['work_id'] }}</i>
                {{ work['work_name'] }}<br>
                    {% if work['part_offline'] == True %}
                        <span class="alarm">Участвовала очно</span>
                    {% else %}
                        <span class="green-text">Д</span>
                    {% endif %}
                {% if work['reg_tour'] %}
                <span class="alarm">{{ work['reg_tour'] }} тур</span>
                {% endif %}<br>
                    <i>{{ work['authors'] }}</i><br><br>
                {% endfor %}<br>
                <b>Участники</b><br>
                {% for member in appl['participants'] %}
                <i>{{ member['role'] }} {{ member['id'] }}</i><br>
                {{ member['last_name'] }} {{ member['first_name'] }} {{ member['patronymic_name'] }}<br>
                Оргвзнос {{ member['fee'] }}р.
                    {% if member['payed'] == True %}
                    <span class="green-text">(Оплачен)</span>
                    {% elif member['payed'] == False %}
                    <span class="alarm">(Не оплачен)</span>
                    {% endif %},
                {% if member['format'] == 'face-to-face' %}
                    Очное участие
                {% elif member['format'] == 'online'%}
                    Дистанционное участие
                {% endif %}
                {% if member['payed'] == True %}
                - <a target="_blank" href="/set_payee/{{ member['payment_id'] }}/{{ appl['id'] }}">Посмотреть платеж</a>
                {% endif %}<br><br>
                {% endfor %}
        </td>
        <td width="30%" valign="top" align="center">
            <a href="/сheck_payees/{{ payment['payment_id'] }}/{{ appl['id'] }}">
                <button>Назначить платеж заявке</button></a><br><br>
                    <a href="/discount_and_participation_mode/{{ appl['id'] }}">
                        <button>Исправить суммы оргвзносов</button></a>
        </td>
    </tr>
    {% endfor %}
</table>

{% elif participant['type'] == 'name' %}
{% if participant['works'] != [] %}
<h3>В работах</h3>
{% endif %}
{% for work in participant['works'] %}
<form action="/set_payment/{{ payment['payment_id'] }}/{{ work['work_id'] }}" method = 'POST'>
    <fieldset>
        <table>
            <tr>
                <td width="70%">
                    <input type="checkbox" name="{{ work['work_id'] }}" checked>
                    <b>Работа {{ work['work_id'] }}
                    {% if work['part_offline'] == True %}
                        <span class="alarm">Участвовала очно</span>
                    {% else %}
                        <span class="green-text">Д</span>
                    {% endif %}</b><br>
                        {{ work['work_name'] }}
                        {% if work['reg_tour'] %}
                        <span class="alarm">{{ work['reg_tour'] }} тур</span>
                        {% endif %}<br>
                    <i>{{ work['authors'] }}</i><br>
                        Оргвзнос {{ work['fee'] }}р.
                            {% if work['payed'] == True %}
                            <span class="green-text">(Оплачен)</span>
                            {% elif work['payed'] == False %}
                            <span class="alarm">(Не оплачен)</span>
                            {% endif %},
                            {% if not work['format'] or work['format'] == 'face-to-face' %}
                                Очное участие
                            {% elif work['format'] == 'online'%}
                                Дистанционное участие
                            {% endif %}
                    <br>
                            <a href="/application_payment/{{ payment['payment_id'] }}/{{ work['appl_no'] }}"><div class="blue_no_border" type="submit">
                    <b>Заявка {{ work['appl_no'] }}</b></div></a>
                </td>
                <td width="30%">
                    <input class="button" type="submit" value="Назначить платеж работе"><br><br>
                    <a href="/discount_and_participation_mode/{{ work['work_id'] }}">
                        <div class="green-button">Исправить суммы оргвзносов</div></a>
                </td>
            </tr>
        </table>
    </fieldset>
</form><br>
{% endfor %}

{% if participant['participant'] %}
<h3>В заявках</h3>
{% endif %}
<table>
    {% for appl in participant['participant'] %}
    <tr>
        <td>
            <b>Заявка {{ appl['id'] }}</b><br>
                <b>Работы</b><br>
                {% for work in appl['works'] %}
                <i>Работа {{ work['work_id'] }}</i>
                {{ work['work_name'] }}<br>
                    {% if work['part_offline'] == True %}
                        <span class="alarm">Участвовала очно</span>
                    {% else %}
                        <span class="green-text">Д</span>
                    {% endif %}
                {% if work['reg_tour'] %}
                <span class="alarm">{{ work['reg_tour'] }} тур</span>
                {% endif %}<br>
                    <i>{{ work['authors'] }}</i><br><br>
                {% endfor %}<br>
                <b>Участники</b><br>
                {% for member in appl['participants'] %}
                <i>{{ member['role'] }} {{ member['id'] }}</i><br>
                {{ member['last_name'] }} {{ member['first_name'] }} {{ member['patronymic_name'] }}<br>
                Оргвзнос {{ member['fee'] }}р.
                    {% if member['payed'] == True %}
                    <span class="green-text">(Оплачен)</span>
                    {% elif member['payed'] == False %}
                    <span class="alarm">(Не оплачен)</span>
                    {% endif %},
                {% if member['format'] == 'face-to-face' %}
                    Очное участие
                {% elif member['format'] == 'online'%}
                    Дистанционное участие
                {% endif %}
                {% if member['payed'] == True %}
                - <a target="_blank" href="/set_payee/{{ member['payment_id'] }}/{{ appl['id'] }}">Посмотреть платеж</a>
                {% endif %}<br><br>
                {% endfor %}
        </td>
        <td width="30%" valign="top" align="center">
            <a href="/сheck_payees/{{ payment['payment_id'] }}/{{ appl['id'] }}">
                <button>Назначить платеж заявке</button></a><br><br>
                    <a href="/discount_and_participation_mode/{{ appl['id'] }}">
                        <button>Исправить суммы оргвзносов</button></a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endif %}

{% endblock %}