{% extends 'base.html' %}

{% block content %}
<h2>Админка</h2>
<ul class="large-text">
    <li>
        <a href="/rev_analysis">Анализ рецензий</a>
    </li>
    <li>
        <a href="/int_analysis">Анализ внутренних рецензий</a>
    </li>
    <li>
        <a href="/add_cities">Добавить города</a>
    </li>
    <li>
        <a href="/id_payments">Внести платежи</a>
    </li>
    <li>
        <a href="/load_statement">Загрузить выписку</a>
    </li>
    <li>
        <a href="/applications_2_tour">Загрузить заявки на 2 тур</a>
    </li>
    <li>
        <a href="/add_works">Загрузить информацию о работах</a>
    </li>
    <li>
        <a href="/view_applications">Заявки в команду</a>
    </li>
    <li>
        <a href="/unpayed">Заявлены на онлайн и не оплатили участие</a>
    </li>
    <li>
        <a href="/set_report_dates">Назначить даты заседаний секций</a>
    </li>
    <li>
        <a href="/search_participant">Найти работу или заявку</a>
    </li>
    <li>
        <a href="/news_list">Новости</a>
    </li>
    <li>
        <a href="/category_unions">Объениненные секции</a>
    </li>
    <li>
        <a href="/set_orgcom">Оргкомитет</a>
    </li>
    <li>
        <a href="/responsibilities">Оргкомитет - Зоны ответственности</a>
    </li>
    <li>
        <a href="/users_list">Пользователи</a>
    </li>
    <li>
        <a href="/apply_for_online">Работы, заявленные на онлайн</a>
    </li>
    <li>
        <a href="/works_participated">Работы, которые уже участвовали очно</a>
    </li>
    <li>
        <a href="/manage_payments">Управлять платежами</a>
    </li>
    <li>
        <a href="/online_participants">Участники онлайна</a>
    </li>
</ul>

<h3>Страницы для сайта Конкурса</h3>
<ul>
    <li>
        <a href="/online_applicants">Заявленные на Дополнительный онлайн-конкурс</a>
    </li>
    <li>
        <a href="/top_100">Топ-100</a>
    </li>
    <li>
        <a href="/drive_links">Ссылки для загрузки презентаций</a>
    </li>
</ul>

{% endblock %}