{% extends 'base.html' %}

{% block title %} Админка {% endblock %}

{% block content %}
<h2>Админка</h2>
<ul class="large-text">
<!--    <li>-->
<!--        <a href="/categories">Список секций</a>-->
<!--    </li>-->
<!--    <li>-->
<!--        <a href="/supervisors">Список русеков</a>-->
<!--    </li>-->
    <li>
        <a href="/view_applications">Заявки</a>
    </li>
    <li>
        <a href="/users_list">Пользователи</a>
    </li>
    <li>
        <a href="/news_list">ِНовости</a>
    </li>
</ul>

{% endblock %}