{% extends 'base_template.html' %}

{% block template %}

<div class="col-sm-2 sidenav light-blue">
<p><a href="/secretary_job">Что такое работа секретаря секции?</a></p>
<p><a href="/search_participant">Найти работу или заявку</a></p>
{% if session['supervisor'] == True or session['secretary'] == True or
    session['type'] in ['org', 'manager', 'admin'] %}
  <p><a href="/analysis_state">Анализ рецензий</a></p>
  <p><a href="/top_100">Лучшие работы</a></p>
{% endif %}
<!--      <p><a href="/secretary_reminder">Памятка секретаря</a></p>-->

<!--      <p><a href="#">Меню-3</a></p>-->
{% if session['type'] in ['org', 'manager', 'admin'] %}
    <p><a href="/users_list">Пользователи</a></p>
    <p><a href="/view_applications">Заявки в команду</a></p>
{% endif %}
</div>
<div class="col-sm-8 text-left">
  {% block content %} {% endblock %}
</div>

    {% endblock %}