{% extends 'knowledge.html' %}

{% block content %}
<h3>Сегодня {{ date }}</h3>


<ul class="menu-grid">
    <li class="drop dropping men"><a href="/general_info">Основная информация о Конкурсе</a></li>
    <li class="drop dropping men"><a href="/tour_2">2 тур</a></li>
<!--    <li class="drop dropping men"><a href="/faq">ЧаВо</a></li>-->
    <li class="drop dropping men"><a href="/contact">Контакты оргкомитета</a></li>
    <li class="drop dropping men"><a href="/feedback">Обратная связь по сайту</a></li>
</ul>

<ul class="menu-grid">
    <li class="drop dropping men">Платежи
        <div class="dropped">
            <a href="/invoice">Квитанции и договоры</a>
            <a href="/bank_details">Банковские реквизиты</a>
            <a href="/banks_and_payments">Банки и платежи</a>
            <a href="/guarantee_letters">Гарантийные письма</a>
        </div>
    </li>

    <li class="drop dropping men">Сайт
        <div class="dropped">
            <a href="/frequent_actions">Частые действия</a>
            <a href="/registration_on_site">Регистрация на сайте</a>
            <a href="/apply_1_tour">Подать работу на Конкурс</a>
            <a href="/apply_for_participant">Подать работу за другого человека</a>
            <a href="/attach_work">Привязка работы к пользователю</a>
            <a href="/approve_for_1_tour">Техническая проверка</a>
            <a href="/approve_for_2_tour">Допуск до 2 тура</a>
            <a href="/apply_2_tour">Подача заявки на 2 тур</a>
        </div>
    </li>

    <li class="drop dropping men">Программа
        <div class="dropped">
            <a href="/contest_calendar">Календарь Конкурса</a>
            <a href="/programme_grid">Сетка программы</a>
            <a href="/working_programme">Рабочая программа</a>
        </div>
    </li>

    <li class="drop dropping men">Работа оргкомитета
        <div class="dropped">
            <a href="/phone_schedule">Расписание телефона</a>
            <a href="/email_schedule">Расписание почты</a>
            <a href="/email">Работа с почтой</a>
            <a href="/movement_projects">Проекты Движения</a>
            <a href="/working_resources">Рабочие ресурсы</a>
        </div>
    </li>
</ul>

<h3>На 2 туре</h3>

<ul class="menu-grid">
    <li class="drop dropping men"><a href="/creativity_contest">Фестиваль творчества</a></li>
    <li class="drop dropping men"><a href="/session_shedule">Расписание заседаний по секциям</a></li>
</ul>

{% endblock %}