{% extends 'knowledge.html' %}

{% block content %}
<h3>Сегодня {{ date }}</h3>


<table>
    <tr>
        <td width="30%">
            <div class="well">
                <a href="/general_info">Основная информация о Конкурсе</a>
            </div>
        </td>
        <td width="10%">
            <div class="well">
                <a href="/tour_2">2 тур</a>
            </div>
        </td>
        <td width="10%">
            <div class="well">
                <a href="/faq">ЧаВо</a>
            </div>
        </td>
        <td width="25%">
            <div class="well">
                <a href="/contact">Контакты оргкомитета</a>
            </div>
        </td>
        <td width="25%">
            <div class="well">
                <a href="/feedback">Обратная связь по сайту</a>
            </div>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td align="center" width="25%"><b>
            Платежи
        </b></td>
        <td align="center" width="25%"><b>
            Сайт
        </b></td>
        <td align="center" width="25%"><b>
            Программа
        </b></td>
        <td align="center" width="25%"><b>
            Работа оргкомитета
        </b></td>
    </tr>
<!--    1-->
    <tr>
        <td>
            <div class="well">
                <a href="/invoice">Квитанции и договоры</a>
            </div>
        </td>
        <td>
            <div class="well">
                <a href="/frequent_actions">Частые действия</a>
            </div>
        </td>
        <td>
            <div class="well">
                <a href="/contest_calendar">Календарь Конкурса</a>
            </div>
        </td>
        <td>
            <div class="well">
                <a href="/phone_schedule">Расписание телефона</a>
            </div>
        </td>
    </tr>
<!--    2-->
    <tr>
        <td>
            <div class="well">
                <a href="/bank_details">Банковские реквизиты</a>
            </div>
        </td>
        <td>
            <div class="well">
                <a href="/registration_on_site">Регистрация на сайте</a>
            </div>
        </td>
        <td>
            <div class="well">
                <a href="/programme_grid">Сетка программы</a>
            </div>
        </td>
        <td width="25%">
            <div class="well">
                <a href="/email_schedule">Расписание почты</a>
            </div>
        </td>
    </tr>
<!--    3-->
    <tr>
        <td>
            <div class="well">
                <a href="/banks_and_payments">Банки и платежи</a>
            </div>
        </td>
        <td>
            <div class="well">
                <a href="/apply_1_tour">Подать работу на Конкурс</a>
            </div>
        </td>
        <td>
            <div class="well">
                <a href="/working_programme">Рабочая программа</a>
            </div>
        </td>
        <td width="25%">
            <div class="well">
                <a href="/email">Работа с почтой</a>
            </div>
        </td>
    </tr>
<!--    4-->
    <tr>
        <td>
            <div class="well">
                <a href="/guarantee_letters">Гарантийные письма</a>
            </div>
        </td>
        <td>
            <div class="well">
                <a href="/apply_for_participant">Подать работу за другого человека</a>
            </div>
        </td>
        <td>

        </td>
        <td>
            <div class="well">
                <a href="/movement_projects">Проекты Движения</a>
            </div>
        </td>
    </tr>
<!--    5-->
    <tr>
        <td>

        </td>
        <td>
            <div class="well">
                <a href="/attach_work">Привязка работы к пользователю</a>
            </div>
        </td>
        <td>

        </td>
        <td>
            <div class="well">
                <a href="/working_resources">Рабочие ресурсы</a>
            </div>
        </td>
    </tr>
<!--    6-->
    <tr>
        <td>

        </td>
        <td>
            <div class="well">
                <a href="/approve_for_1_tour">Техническая проверка</a>
            </div>
        </td>
    </tr>
<!--    7-->
    <tr>
        <td>

        </td>
        <td>
            <div class="well">
                <a href="/approve_for_2_tour">Допуск до 2 тура</a>
            </div>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td>
            <div class="well">
                <a href="/apply_2_tour">Подача заявки на 2 тур</a>
            </div>
        </td>
    </tr>
</table>

<h3>На 2 туре</h3>

<table>
    <tr>
        <td>
            <div class="well">
                <a href="/creativity_contest">Фестиваль творчества</a>
            </div>
        </td>
        <td>
            <div class="well">
                <a href="/session_shedule">Расписание заседаний по секциям</a>
            </div>
        </td>
    </tr>
</table>

{% endblock %}