{% extends 'knowledge.html' %}

{% block content %}
<h3>Сегодня {{ date }}</h3>
<table>
    <tr>
        <td>
            <div class="well">
                <a href="/contact">Контакты оргкомитета</a>
            </div>
        </td>
        <td>
            <div class="well">
                <a href="/invoice">Квитанции и договоры</a>
            </div>
        </td>
        <td>

        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
    </tr>
</table>

{% endblock %}