{% extends 'base_template.html' %}

{% block template %}

<div class="col-sm-2 sidenav light-blue">
{% if session['supervisor'] == True or session['secretary'] == True or
    session['type'] in ['org', 'manager', 'admin'] %}
<!--  <p><a href="">Анализ рецензий</a></p>-->
<!--  <p><a href="">Лучшие работы</a></p>-->
<!--  <p><a href="">Квитанции и договоры</a></p>-->
{% endif %}
  <p><a href="/contact">Контакты оргкомитета</a></p>
  <p><a href="/invoice">Квитанции и договоры</a></p>
<!--      <p><a href="/secretary_reminder">Памятка секретаря</a></p>-->

<!--      <p><a href="#">Меню-3</a></p>-->
</div>
<div class="col-sm-8 text-left">
  {% block content %} {% endblock %}
</div>

{% endblock %}