{% extends 'base.html' %}

{% block title %} Нет доступа {% endblock %}

{% block content %}
{% if message == 'register_first' %}
<h3>Для подачи заявки в команду <a href="/login">авторизуйтесь</a></h3>
{% else %}
<h2>У вас нет доступа к этой странице.</h2>
{% endif %}

{% if access == 0 and message != 'register_first' %}
<h4><a href="/login">Авторизуйтесь</a></h4>
{% elif access == 1 %}
<h4>Подтвердите учетную запись по ссылке, отправленной вам на e-mail.</h4>
{% elif access == 2 %}
<h4>Дождитесь подтверждения заявки в команду.</h4>
{% elif access == 3 %}
<h4>Обратитесь к администратору сайта.</h4>
{% endif %}
{% endblock %}