{% extends 'base.html' %}

{% block title %} Заявка в команду {% endblock %}

{% block content %}

<table><tr><td>
    <h3>Заявка в команду: {{ user['last_name'] }} {{ user['first_name'] }} {{ user['patronymic'] }} ({{ application['year'] }})</h3>
</td><td valign="bottom">
    {% if application['considered'] == "True" %}
        <div class="green-text" title="Принят в команду"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-emoji-heart-eyes" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M11.315 10.014a.5.5 0 0 1 .548.736A4.498 4.498 0 0 1 7.965 13a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .548-.736h.005l.017.005.067.015.252.055c.215.046.515.108.857.169.693.124 1.522.242 2.152.242.63 0 1.46-.118 2.152-.242a26.58 26.58 0 0 0 1.109-.224l.067-.015.017-.004.005-.002zM4.756 4.566c.763-1.424 4.02-.12.952 3.434-4.496-1.596-2.35-4.298-.952-3.434zm6.488 0c1.398-.864 3.544 1.838-.952 3.434-3.067-3.554.19-4.858.952-3.434z"/>
        </svg></div>
        {% elif application['considered'] == "False" %}
        <div class="alarm" title="Пока что не принят в команду"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
        </svg></div>
        {% elif application['considered'] == 'in_process' %}
        <div class="yellow-text" title="Заявка в ожидании"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-emoji-neutral" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M4 10.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5zm3-4C7 5.672 6.552 5 6 5s-1 .672-1 1.5S5.448 8 6 8s1-.672 1-1.5zm4 0c0-.828-.448-1.5-1-1.5s-1 .672-1 1.5S9.448 8 10 8s1-.672 1-1.5z"/>
        </svg></div>
    {% endif %}
</td></tr></table>
<table>
    <tr>
        <td align="center">
            <a href="/manage_application/{{ application['year'] }}/{{ user['user_id'] }}/accept/one"><button>
                <table><tr><td>Принять заявку </td><td valign="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-emoji-heart-eyes" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M11.315 10.014a.5.5 0 0 1 .548.736A4.498 4.498 0 0 1 7.965 13a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .548-.736h.005l.017.005.067.015.252.055c.215.046.515.108.857.169.693.124 1.522.242 2.152.242.63 0 1.46-.118 2.152-.242a26.58 26.58 0 0 0 1.109-.224l.067-.015.017-.004.005-.002zM4.756 4.566c.763-1.424 4.02-.12.952 3.434-4.496-1.596-2.35-4.298-.952-3.434zm6.488 0c1.398-.864 3.544 1.838-.952 3.434-3.067-3.554.19-4.858.952-3.434z"/>
                </svg></td></tr></table></button></a>
        </td>
        <td align="center">
            <a href="/manage_application/{{ application['year'] }}/{{ user['user_id'] }}/await/one"><button class="blue">
                <table><tr><td>Заявку в ожидание </td><td valign="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-emoji-neutral" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M4 10.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5zm3-4C7 5.672 6.552 5 6 5s-1 .672-1 1.5S5.448 8 6 8s1-.672 1-1.5zm4 0c0-.828-.448-1.5-1-1.5s-1 .672-1 1.5S9.448 8 10 8s1-.672 1-1.5z"/>
            </svg></td></tr></table></button></a>
        </td>
        <td align="center">
            <a href="/manage_application/{{ application['year'] }}/{{ user['user_id'] }}/decline/one"><button class="alarm blue">
                <table><tr><td>Отклонить заявку </td><td valign="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
            </svg></td></tr></table></button></a>
        </td>
    </tr>
</table><br>
<table frame="void" border="2px" bordercolor="#4962A4">
    <tr><td colspan="4">
    <tr>
        <td colspan="2">
            ФИО
        </td><td colspan="2">
        {{ user['last_name'] }} {{ user['first_name'] }} {{ user['patronymic'] }}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Дата рождения
        </td><td colspan="2">
        {{ user['born'] }}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            e-mail
        </td><td colspan="2">
        <a href="mailto:{{ user['email'] }}">{{ user['email'] }}</a>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Телефон
        </td><td colspan="2">
        <a href="tel:{{ user['tel'] }}">{{ user['tel'] }}</a>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            VK
        </td><td colspan="2">
        {% if profile['vk'] != None %}
        <a href="https://vk.com/{{ profile['vk'] }}">vk.com/{{ profile['vk'] }}</a>
        {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Telegram
        </td><td colspan="2">
        {% if profile['tg'] != None %}
        <a href="https://t.me/{{ profile['tg'] }}">@{{ profile['tg'] }}</a>
        {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Имя пользователя на <a href="https://vernadsky.info/">сайте</a>
        </td><td colspan="2">
        {% if profile['username'] != None %}
        {{ profile['username'] }}
        {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Вид деятельности
        </td><td colspan="2">
        {% if profile['occupation'] == 'scholar' %}
        Школьник
        {% elif profile['occupation'] == 'student' %}
        Студент
        {% elif profile['occupation'] == 'worker' %}
        Работаю
        {% else %}
        {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Место учебы/работы
        </td><td colspan="2">
        {% if profile['place_of_work'] == 'MSU_School' %}
        Университетская гимназия МГУ
        {% elif profile['place_of_work'] == '1553' %}
        Лицей №1553 им. В. И. Вернадского
        {% elif profile['place_of_work'] == None %}
        {% else %}
        {{ profile['place_of_work'] }}
        {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Класс/курс
        </td><td colspan="2">
        {% if profile['grade'] %}
        {{ profile['grade'] }}
        {% elif profile['year'] %}
        {{ profile['year'] }}
        {% else %}
        {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Знаю о Чтениях от
        </td><td colspan="2">
        {% if profile['involved'] == 'MSU_School' %}
        Университетская гимназия МГУ
        {% elif profile['involved'] == '1553' %}
        Лицей №1553 им. В. И. Вернадского
        {% elif profile['involved'] == None %}
        {% else %}
        {{ profile['involved'] }}
        {% endif %}
        </td>
    </tr>
    </td></tr>
    <tr><td colspan="4">
    <tr>
        <td colspan="2">
            Желаемая роль
        </td><td colspan="2">
        {% if application['role'] == 'secretary' %}
        Секретарь секции
        {% elif application['role'] == 'volunteer' %}
        Волонтер
        {% elif application['role'] == 'other' %}
        Другое
        {% elif application['role'] == 'not_sure' %}
        Пока не знаю
        {% elif application['role'] == None %}
        {% endif %}
        </td>
    </tr>
    <tr>
        <td rowspan="3" width="8%">
            Секция
        </td><td width="17%">
        первый приоритет
        </td>
        <td>
            <a href="/assign_category/{{ user['user_id'] }}/{{ application['category_1_id'] }}"><button class="blue">
                Одобрить</button></a>
        </td><td>
        {% if application['category_1'] != None %}
        {{ application['category_1'] }}
        {% endif %}
        {% if not categories[application['category_1_id']]['secretary'] %}
        (<span class="green-text">свободно</span>)
        {% else %}
        (<span class="alarm">занято {{ categories[application['category_1_id']]['secretary'] }}</span>)
        {% endif %}
        </td>
    </tr>
    <tr><td>
        второй приоритет
        </td>
        <td>
            <a href="/assign_category/{{ user['user_id'] }}/{{ application['category_2_id'] }}"><button class="blue">
                Одобрить</button></a>
        </td><td>
        {% if application['category_2'] != None %}
        {{ application['category_2'] }}
        {% endif %}
        {% if not categories[application['category_2_id']]['secretary'] %}
        (<span class="green-text">свободно</span>)
        {% else %}
        (<span class="alarm">занято {{ categories[application['category_2_id']]['secretary'] }}</span>)
        {% endif %}
        </td>
    </tr>
    <tr>
    </td><td>
        третий приоритет
        </td>
        <td>
            <a href="/assign_category/{{ user['user_id'] }}/{{ application['category_3_id'] }}"><button class="blue">
                Одобрить</button></a>
        </td><td>
        {% if application['category_3'] != None %}
        {{ application['category_3'] }}
        {% endif %}
        {% if not categories[application['category_3_id']]['secretary'] %}
        (<span class="green-text">свободно</span>)
        {% else %}
        (<span class="alarm">занято {{ categories[application['category_3_id']]['secretary'] }}</span>)
        {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Годится любая секция
        </td><td>
        {% if application['any_category'] == True %}
        Да
        {% elif application['any_category'] == False %}
        Нет
        {% else %}
        {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Уже участвовал в Чтениях
        </td><td colspan="2">
        {% if application['taken_part'] == "volunteer" %}
        Был волонтером
        {% elif application['taken_part'] == "secretary" %}
        Был секретарем
        {% else %}
        Не участвовал
        {% endif %}
        </td>
    </tr>
    </td></tr>
</table>
<h3 align="center">Другие секции</h3><br>
<table frame="void" border="2px" bordercolor="#4962A4">
    <tr>
        <td width="10%" align="center"></td>
        <td align="center">
            <b>Название секции</b>
        </td>
        <td align="center" width="30%">
            <b>Руководитель секции</b>
        </td>
        <td align="center" width="25%">
            <b>Секретарь</b>
        </td>
    </tr>
{% for key in categories %}
    <tr>
        <td>
            <a href="/assign_category/{{ user['user_id'] }}/{{ categories[key]['id'] }}"><button class="blue">
                Назначить</button></a>
        </td>
        <td>
            {{ categories[key]['short_name'] }}
        </td>
        <td>
            <a href="/supervisor_profile/{{ categories[key]['supervisor_id'] }}">{{ categories[key]['supervisor'] }}</a>
        </td>
        <td>
            <a href="/secretary_profile/{{ categories[key]['secretary_id'] }}">{{ categories[key]['secretary'] }}</a>
        </td>
    </tr>
{% endfor %}
</table><br>
{% endblock %}