{% extends 'base.html' %}
{% block content %}

<h1>Архив фотографий</h1>

<ul>
    <a target="_blank" href="https://photos.google.com/share/AF1QipMoAOi2DifObuFQFqC1aBOyWNmSltWzyq82u6rTNGaamMeut1Am3q_lit8cDO7x4g?pli=1&key=Y0FrTzNGNjl4anRGOXJMQ2p4Q0x5MWZjOXRaeGdR"><li>
        XXV Чтения 2018
    </li></a>
    <a target="_blank" href="https://disk.yandex.ru/d/GspZYciR5lfaiw"><li>
        XXIX Чтения 2022 - Стендовая сессия (Университетская гимназия МГУ)
    </li></a>
    <a target="_blank" href="https://disk.yandex.ru/d/wjIwHcOyvmlpwg/2023/МЕРОПРИЯТИЯ/2023_04_Чтения%20Вернадского"><li>
        XXX Чтения 2023
    </li></a>
    <a target="_blank" href="https://disk.yandex.ru/d/NHo72_VPVJpO-g%20%20фото"><li>
        XXXI Чтения 2024
    </li></a>
    <a target="_blank" href="https://disk.yandex.ru/d/fnYWFDEbyHD2JQ"><li>
        Я - исследователь 2024
    </li></a>
    <a target="_blank" href="https://vk.com/album-124677841_302464164"><li>
        Я - исследователь 29 марта 2024г. ИД МПГУ 1-й день
    </li></a>
    <a target="_blank" href="https://vk.com/album-124677841_302465424"><li>
        Я - исследователь 30 марта 2024г. ИД МПГУ 2-й день
    </li></a>
</ul>

{% endblock %}