{% extends 'base.html' %}

{% block title %} Секции {% endblock %}

{% block content %}
    <h2 id="section">Памятка секретаря</h2>
    <h3 id="section-1">Подготовка секции к работе</h3>
    <h4 id="section-2">Подготовка платформ</h4>
    <ol>
      <li>Секретарь секции заполняет страницы секций презентациями для публикации из облака и создает обсуждения.</li>
      <li>Секретарь ведет прошлогодний (или создает новый, если секция новая) канал секции в Telegram. В этот канал секретарь должен регулярно публиковать актуальную информацию о работе секции.</li>
    </ol>
    <h3 id="section-3">10-11 апреля. Знакомство участников</h3>
    <p>В назначенное время ведущий начинает конференцию. Секретарь обращается к участникам, рассказывает о предстоящем формате докладов и знакомства. Рассказывает о функциях платформы, объясняет, что микрофоны у всех участников будут выключены, а для того, чтобы что-нибудь сказать/спросить, нужно нажать кнопку «поднять руку».</p>
    <p>Каждый автор должен представиться, коротко рассказать о себе в предложенном формате.</p>
    <p>
      <strong>Цели встречи</strong> – знакомство авторов с платформой, проверка качества связи и работы оборудования и знакомство участников друг с другом. Помимо этого, кратко нужно объяснить, что и как придется делать участнику.</p>
    <p>Секретарь заранее скачивает презентации из указанной папки, проверяет, что всё работает.</p>
    <p>Секретарь с руководителем секции заранее обсуждают регламент, продумывают порядок выступлений с учетом часовых поясов и пожеланий руководителя секции? каким способом автор будет получать предупреждение о том, что время, отведенное на доклад, подходит к концу. Порядок выступлений по времени секретарь отправляет в Telegram-канал для участников за сутки до начала заседания и в оргкомитет - вечером за 2 дня до начала заседания. Например, если секция начинает работу 13 апреля в 10:00, порядок выступлений должен появиться у оргкомитета вечером 11 апреля, а в канале секции - не позже 10:00 12 апреля.</p>
    <h3 id="section-4">12-15 апреля. Заседания секций</h3>
    <p>В назначенное время секретарь начинает конференцию. Если секретарь и руководитель секции выходят на связь с разных устройств, нужно обговорить технические нюансы: отдает ли руководитель секции техническое руководство полностью в руки секретаря. Если нет – нужно обговорить распределение задач, а при начале конференции секретарь дает руководителю секции права организатора.</p>
    <p>Еще список экспертов нужно обязательно вести!!!</p>
    <p>При подключении участников нужно принудительно выключать их микрофоны. В начале конференции руководитель секции обращается к авторам, рассказывает, что и как будет происходить на конференции, каков регламент, каким способом автор будет получать предупреждение о том, что время, отведенное на доклад, подходит к концу. Объясняет порядок, в котором будут приниматься вопросы. Если руководитель секции ограничился только содержательным приветствием участников, объявите технический регламент самостоятельно.</p>
    <p>Во время заседания секции секретарь администрирует конференцию: запускает презентацию, переключает слайды (или предоставляет доступ к этому автору), включает и выключает микрофон определенным участникам. Следит за регламентом, объявляет перерывы. Фиксирует задаваемые участниками вопросы: кто сколько задал и насколько хорошие у кого вопросы. Последнее нужно заранее обсудить с русеком.</p>
    <p>Сразу после заседания секции секретарь отправляет Оле корректировки по прослушанным и не прослушанным работам (а лучше - прямо по ходу дела отмечает явку в отчете секретаря).</p>
    <p>После заседания секции нужно освободить вебинарную комнату и сообщить об этом Оле. Если эксперты выходили на связь удаленно, для обсуждения создается отдельная конференция. В этом случае секретарь обращается к Оле и запрашивает свободную вебинарную комнату. Если такой нет, секретарь создает встречу в своей учетной записи.</p>
    <p>На этой конференции отключать микрофоны не потребуется.</p>
    <p>Задача секретаря – фиксировать решения экспертной комиссии должен быть полностью заполнен отчет секретаря..</p>
    <p>В течение 3 часов после окончания обсуждения секретарь должен внести на сайт Чтений (vernadsky.info) итоги заседания секции: типы дипломов, присуждаемые номинации, формулировки для грамот.</p>
    <p>Обязательно должны быть подведены следующие итоги:</p>
    <ul>
      <li>Диплом: Лауреата или I степени - каждой работе;</li>
      <li>Персональная формулировка для грамоты - должна быть у каждого участника;</li>
      <li>Номинация - из списка, их может у одной работы быть несколько, а может не быть ни одной;</li>
      <li>Победитель в номинации “Активный участник научной дискуссии” - по итогам задаваемых вопросов.</li>
    </ul>
{% endblock %}