{% extends 'base.html' %}

{% block content %}

<h2 id="section">Что такое работа секретаря?</h2>
<p>Секретарь секции - человек, который обеспечивает техническую сторону работы секции: подготавливает к заседанию информацию о работах, общается с участниками, следит за регламентом выступлений, собирает подведенные экспертами итоги и передает их в оргкомитет.</p>
<p>Для работы на секции не нужно быть компетентным в соответствующей области, но для вас будет приятным бонусом, если тематика выбранной секции будет вам интересна: вы будете присутствовать на всех выступлениях участников секции и на экспертном обсуждении работ.</p>
<p>Основная работа - это 1-3 дня в апреле, в дни заседаний секций. Вам нужно будет обязательно присутствовать (дистанционно) на самом заседании и на совещании экспертов, которое состоится в тот же день, после заседания. До дней заседаний будет работа по подготовке секций к работе, но она не будет привязана ко времени, и ее можно будет делать когда вам удобно.</p>
<p>Секретарям, которые не смогут найти дома тихого места с хорошим интернетом, мы предложим вести заседания секции из Университетской гимназии МГУ.</p>

{% endblock %}