{% extends 'knowledge.html' %}

{% block content %}

	<div class="content">
		<h1 id="подача-работы-на-конкурс">Подача работы на Конкурс</h1>

<p><strong>Работы на Конкурсы принимаются с 20 декабря 2021 по 15 января 2022 года.</strong></p>

<div style="margin-left:20px;">
<a href="#step1" style="font-size:90%;">Шаг 1. Основная информация</a><br>
<a href="#step2" style="font-size:90%;">Шаг 2. Контактная информация</a><br>
<a href="#step3" style="font-size:90%;">Шаг 3. Выбор организации</a><br>
<a href="#region_choice" style="margin-left:20px;font-size:85%;">Выбор региона</a><br>
<a href="#new_organisation" style="margin-left:20px;font-size:85%;">Добавление новой организации</a><br>
<a href="#step4" style="font-size:90%;">Шаг 4. Файлы работы</a><br>
<a href="#step5" style="font-size:90%;">Шаг 5. Олимпиада</a><br>
<a href="#apply" style="font-size:90%;">Регистрация работы</a><br>
</div>

<p>Инструкция по самостоятельному добавлению работы. По ней можно помогать участникам добавлять свои работы, в том числе отправлять скриншоты (нажмите правой кнопкой мыши на скриншот, затем «Копировать изображение» и вставьте его в письмо или чат).</p>

<p>Эту инструкцию в формате pdf можно отправлять участникам: <b><a href="static/files/knowledge_files/apply_1_tour.pdf">вот файл для скачивания</a></b>.
<img src="static/images/apply_1_tour_img/apply_work-02.png" alt="" style="height:250px; float:right; margin:15px;"></p>

<p>Участники Конкурса им. В. И. Вернадского и Конкурса “Тропой открытий В. И. Вернадского” подают работы одним и тем же способом. Разница в том, что авторы из 5-7 классов на этапе выбора секции должны выбрать не название научного направления, а одну из секций (гуманитарную или естественнонаучную), названия которых начинаются с “Тропой открытий …”.</p>

<p><br>
Для добавления работы нужно быть зарегистрированным на сайте <a href="http://vernadsky.info/">vernadsky.info</a>. После авторизации нужно перейти: Личный кабинет участника -&gt; Добавление работы.</p>

<p>Для начала работы с формой заявки подтвердите (поставьте «галочку»), что Вы ознакомились с Положением о Конкурсе и Правилами подачи работ на Конкурс, а также своё согласие на обработку персональных данных.
<img src="static/images/apply_1_tour_img/apply_work-03.png" alt="" style="height:165px; margin:15px;"></p>

<h3><a name="step1">Шаг 1. Основная информация</a></h3>

<p>Введите название работы, выберите подходящую тематическую секцию. Укажите ФИО всех авторов, их возраст и класс обучения (только цифра), а также ФИО руководителя работы.
<img src="static/images/apply_1_tour_img/apply_work-04.png" alt="" style="height:500px; margin:15px;"></p>

<p><strong>Важно!</strong> <em>Если автор у работы только один, оставьте все поля, касающиеся второго и третьего авторов, пустыми.</em> Так система поймёт, что второго и третьего авторов нет, и не потребует загрузки их согласий на обработку персональных данных.</p>

<p>Если у работы нет руководителя, просто пропустите касающиеся его поля. Если руководителей несколько, впишите их ФИО в одно поле через запятую.</p>

<h3><a name="step2">Шаг 2. Контактная информация</a></h3>

<p>Введите контактные данные работы: e-mail руководителя работы, контактный e-mail (на него будут приходить все уведомления об изменении статуса работы) и контактный номер телефона.
<img src="static/images/apply_1_tour_img/apply_work-05.png" alt="" style="height:400px; margin:15px;"></p>

<h3><a name="step3">Шаг 3. Выбор организации</a></h3>

<p>Если Вы уже участвовали в Конкурсе, в правой нижней части формы можно будет сразу выбрать организацию, от которой подавались предыдущие работы.</p>

<p>Если Вы выступаете не от организации, поставьте соответствующую «галочку» и выберите свой регион, как описано ниже. Вам нужно будет выбрать «организацию-человека»: это может быть руководитель работы, родитель автора или сам автор.</p>

<p>Если Вы выступаете от организации, оставьте поле «Я выступаю не от организации» пустым и перейдите к выбору региона.
<img src="static/images/apply_1_tour_img/apply_work-06.png" alt="" style="height:340px; float:right; margin:15px;"></p>

<h4><a name="region_choice">Выбор региона</a></h4>

<p>Выберите один из вариантов, который соответствует Вашему региону: если Вы из России, выберите «Россия (не Москва)» или «Москва». Если Вы не из России, выберите «Прочие регионы». Нажмите «Далее».</p>

<p>Последовательно выберите регион, район и город. Затем выберите из списка Вашу организацию.
<img src="static/images/apply_1_tour_img/apply_work-07.png" alt="" style="height:500px; margin:15px;"></p>

<p><strong>Внимание!</strong> <em>Для выбора некоторых городов нужно оставить поле «Ваш район» пустым.</em></p>

<p>Проверьте данные организации и нажмите «Всё правильно». Теперь работа связана с выбранной организацией.
<img src="static/images/apply_1_tour_img/apply_work-10.png" alt="" style="height:500px; margin:15px;"></p>

<p>Если Вы нашли ошибку в данных организации – сообщите об этом в оргкомитет по адресу info@vernadsky.info. Это можно сделать как до добавления работы, так и после.
<img src="static/images/apply_1_tour_img/apply_work-08.png" alt="" style="height:500px; float:right; margin:15px;"></p>

<h4><a name="new_organisation">Добавление организации</a></h4>

<p>Если Вы не нашли Вашу организацию в списке – выберите вариант «Моей организации нет в списке», нажмите «Далее» и внесите данные Вашей организации: почтовый индекс, название организации, адрес, телефон и e-mail. Нажмите «Сохранить».</p>

<p>Вы автоматически перейдете на вкладку «Шаг 1», а во вкладке «Шаг 3» будет указана внесенная Вами организация.
<img src="static/images/apply_1_tour_img/apply_work-09.png" alt="" style="height:50px; margin:15px;"></p>

<h3><a name="step4">Шаг 4. Файлы работы</a></h3>

<p>Нажимая кнопку «Обзор» и выбирая нужные файлы, добавьте все файлы работы. Справа от названий файлов выберите тип для каждого добавленного файла. Файлы без типа не загрузятся. Нажмите «Загрузить». Загруженные файлы отобразятся ниже на той же странице.
<img src="static/images/apply_1_tour_img/apply_work-11.png" alt="" style="height:310px; float:left; margin:15px;">
<img src="static/images/apply_1_tour_img/apply_work-12.png" alt="" style="height:310px; float:right; margin:15px;"></p>

<p>Обратите внимание на максимальный объем файлов. Если он оказался превышен, уменьшите объем файла: можно вынести часть информации из работы в приложения (не забудьте при этом в соответствующем месте в тексте сослаться на приложения), снизить разрешение фотоматериалов и пр.</p>

<p>Минимальный набор файлов – сжатый вариант текста работы и согласия на обработку персональных данных от всех, кто был указан в Шаге 1.</p>

<h3><a name="step5">Шаг 5. Олимпиада</a></h3>

<p>Участники Конкурса им. В. И. Вернадского могут участвовать в <a href="http://vernadsky.online/">Междисциплинарной олимпиаде школьников по истории и обществознанию</a>, минуя отборочный этап. Участники Олимпиады должны быть не моложе 14 лет. Такая возможность доступна только для авторов индивидуальных работ, успешно прошедших техническую проверку. Чтобы участвовать в Олимпиаде, поставьте «галочку» в поле «Работа принимает участие в олимпиаде».</p>

<p><img src="static/images/apply_1_tour_img/apply_work-13.png" alt="" style="height:300px; margin:15px;"></p>

<p>Если Вы не прошли в 1 тур Конкурса или у Вас групповая работа, Вы можете участвовать в Олимпиаде на общих основаниях. Подробности об отборочном этапе читайте <a href="http://vernadsky.online/">на сайте Олимпиады</a>.</p>

<h3><a name="apply">Регистрация работы</a></h3>

<p>На этом шаге Вы увидите минимально необходимую информацию для добавления работы. Проверьте, что Вы выполнили все действия из этого списка. Нажмите «Представить работу на Конкурс».
<img src="static/images/apply_1_tour_img/apply_work-14.png" alt="" style="height:300px; margin:15px;"></p>

<p>Если всё получилось, Вас перенаправит на страницу «Поданные работы», где Вы увидите информацию о своей работе.</p>

<p><em>Номер работе будет присвоен после прохождения технической проверки.</em>
<img src="static/images/apply_1_tour_img/apply_work-16.png" alt="" style="height:200px; float:right; margin:15px;">
<img src="static/images/apply_1_tour_img/apply_work-15.png" alt="" style="height:150px; float:left; margin:15px;"></p>

	</div>

{% endblock %}