{% extends 'knowledge.html' %}

{% block content %}
    
	<div class="content">
		<h1 id="подача-заявки-на-2-тур">Подача заявки на 2 тур</h1>

<p>Для подачи заявки на 2 тур перейдите: <strong><em><code class="language-plaintext highlighter-rouge">Личный кабинет</code></em></strong> - <strong><em><code class="language-plaintext highlighter-rouge">Заявки на второй тур</code></em></strong>. Внимательно ознакомьтесь с информацией на странице, затем под названием организации, от которой хотите подать заявку, нажмите <strong><em><code class="language-plaintext highlighter-rouge">Подать заявку на участие во втором туре Конкурса</code></em></strong>.</p>

<p><img src="static/images/apply_2_tour_img/apply_2_tour-01.png" alt="" style="height:500px; margin:15px;"></p>

<p>Шаги заполнения заявки идут не по порядку, это связано с тем, что для приема заявки на дистанционное участие нам нужно меньше информации, чем при очном проведении Конкурса.</p>

<p><img src="static/images/apply_2_tour_img/apply_2_tour-02.png" alt="" style="height:200px; float:right; margin:15px;"></p>

<p><strong>Шаг 1.</strong> В поле “Организация” уже будет вставлена Ваша организация. Нажмите <strong><em><code class="language-plaintext highlighter-rouge">Далее</code></em></strong>.</p>

<p><strong>Шаг 3.</strong> Укажите численность делегации (не обязательно) и поставьте “галочку” <strong><em><code class="language-plaintext highlighter-rouge">Виртуальное участие</code></em></strong>.</p>

<p><img src="static/images/apply_2_tour_img/apply_2_tour-03.png" alt="" style="height:260px; float:left; margin:15px;"></p>

<p><img src="static/images/apply_2_tour_img/apply_2_tour-04.png" alt="" style="height:280px; float:right; margin:15px;"></p>

<p><strong>Шаг 6.</strong> Здесь перечислены работы, поданные от Вашей организации и допущенные до 2 тура. Поставьте “галочки” напротив номеров тех работ, которые намерены участвовать во 2 туре. Нажмите <strong><em><code class="language-plaintext highlighter-rouge">Далее</code></em></strong>.</p>

<p><strong>Шаг 8.</strong> Проверьте внесенную информацию и нажмите <strong><em><code class="language-plaintext highlighter-rouge">Подать заявку</code></em></strong>.</p>

<p><img src="static/images/apply_2_tour_img/apply_2_tour-05.png" alt="" style="height:390px; margin:15px;"></p>

<p>На странице “Заявки на второй тур” Вы увидите Вашу заявку с присвоенным ей номером.</p>

<p><img src="static/images/apply_2_tour_img/apply_2_tour-06.png" alt="" style="height:500px; margin:15px;"></p>

	</div>

{% endblock %}