{% extends 'knowledge.html' %} {% block content %}

<div class="content">
  <h1 id="допуск-работ-до-2-тура">Допуск работ до 2 тура</h1>

  <p>
    Очередность окончания работами 1 тура зависит от оценки руководителя секции
    (или направления):
  </p>
  <ol>
    <li>
      Допускаются работы с оценкой “Отличная работа” и “Небольшие доработки”.
    </li>
    <li>
      Не раньше 10 марта отклоняются работы с оценкой “Плохая”, “Проект”,
      “Реферат”, “Не наша тематика” и другими красными оценками, а также с
      желтой оценкой “Только на олимпиаду”.
    </li>
    <li>
      Если количество уже допущенных работ позволяет, допускаются работы с
      оценкой “Серьезные доработки”.
    </li>
  </ol>

  <p>
    Окончание работой 1 тура производится одной кнопкой для работ, которые
    проходят и не проходят во 2 тур. Если у работы любая зеленая оценка, она
    будет допущена. Если любая красная или желтая - отклонена. Поэтому, если
    нужно отклонить работу с зеленой оценкой или наоборот, нужно выставить ей
    красную оценку рунапа - и наоборот.
  </p>

  <p>
    Если у работы есть только оценка русека, допуск или недопуск работы будет
    зависеть от неё. Если только рунапа - только от оценки рунапа. Если стоят
    обе оценки, допуск зависит от оценки рунапа.
  </p>

  <p>
    <strong>Внимание!</strong> Работы региональных туров (помеченные красным
    восклицательным знаком в треугольнике) можно только допускать (не
    отклонять). Если у такой работы стоит красная или желтая оценка - ничего не
    трогайте и сообщите Наташе.
  </p>

  <p>
    <strong>Ещё важно!</strong> Перед допуском проверяйте, есть ли у работы
    рецензия (если есть, в низу окошка с информацией о работе будет написана
    оценка рецензента и ФИО рецензента). Работы без рецензий не допускаем.
  </p>

  <p>
    <img
      src="static/images/approve_for_2_tour_img/approve_for_2_tour-01.png"
      alt=""
      style="height: 190px; float: right; margin: 0px 15px"
    />
  </p>

  <p>
    Допуск работ осуществляется из раздела
    <strong
      ><em
        ><code class="language-plaintext highlighter-rouge"
          >Личный кабинет</code
        ></em
      ></strong
    >
    -
    <strong
      ><em
        ><code class="language-plaintext highlighter-rouge"
          >Этап рецензирования</code
        ></em
      ></strong
    >. Нужно выбрать секцию и справа от работы, которая должна окончить 1 тур
    нажать кнопку
    <strong
      ><em
        ><code class="language-plaintext highlighter-rouge">1-&gt;2</code></em
      ></strong
    >.
  </p>

  <p>
    <img
      src="static/images/approve_for_2_tour_img/approve_for_2_tour-02.png"
      alt=""
      style="height: 300px; float: left; margin: 10px"
    />
  </p>

  <p>
    Во всплывающем окне нажимаем “Совершить непоправимое”, затем закрываем окно
    с перезагрузкой.
  </p>

  <p>
    Будьте внимательны: при нажатии этой кнопки автору отправляется письмо с
    информацией о допуске/недопуске. Поэтому исправить ошибки “по-тихому” не
    получится.
  </p>

  <p>
    После допуска (или недопуска) напротив работы перестанет отображаться кнопка
    <strong
      ><em
        ><code class="language-plaintext highlighter-rouge">1-&gt;2</code></em
      ></strong
    >. Кнопка может не отображаться либо если работа уже допущена (в этом случае
    не будет кнопки, но будет оценка русека или рунапа), либо если она еще не
    получила необходимую для допуска оценку (не будет ни кнопки, ни оценок
    русека и рунапа).
  </p>

  <p>
    <img
      src="static/images/approve_for_2_tour_img/approve_for_2_tour-03.png"
      alt=""
      style="height: 175px; margin: 10px"
    />
  </p>

  <p>
    В “Этапе рецензирования” можно заходить не только в каждую секцию по
    отдельности, но и в направление в целом. Для этого нужно нажать на его
    название.
  </p>

  <p>
    В верху страницы со списком работ доступны фильтры: полезен бывает фильтр по
    статусу работ. Из выпадающего списка выберите “Готовые к окончанию 1 тура”,
    чтобы на страницу не выводились работы без кнопки.
  </p>

  <p>
    <img
      src="static/images/approve_for_2_tour_img/approve_for_2_tour-04.png"
      alt=""
      style="height: 280px; float: left; margin: 10px"
    />
  </p>
</div>

{% endblock %}
