{% extends 'knowledge.html' %} {% block content %}

<div class="content">
  <h1 id="сопоставление-работы-с-личным-кабинетом-участника">
    Сопоставление работы с личным кабинетом участника
  </h1>

  <p>
    Для того, чтобы работа, поданная одним пользователем, отображалась в личном
    кабинете другого пользователя, нужно сопоставить работу с нужным аккаунтом.
    Это возможно сделать только после того, как работа прошла техническую
    проверку и получила регистрационный номер.
  </p>

  <p>
    Работа может отображаться в личных кабинетах, максимум, двух пользователей:
    того, кто работу подал, и ещё одного.
  </p>

  <p>
    Для этого нам понадобятся номер работы: берём его из раздела «Поданные
    работы» личного кабинета, если работу подавали вы, или от участника, если
    подавал кто-то другой – и ID пользователя, к личному кабинету которого мы
    хотим привязать работу.
  </p>

  <h4>Поиск ID пользователя</h4>

  <p>
    <a href="/frequent_actions#search_user">Находим пользователя</a> по
    имеющейся информации (лучше всего заранее запросить у участника логин). Из
    левой части строки с данными найденного пользователя копируем ID.
  </p>

  <h4>Поиск работы и редактирование её информации</h4>

  <p>
    <a href="/frequent_actions#edit_work"
      >Находим нужную работу по номеру и переходим в режим редактирования</a
    >.
  </p>

  <p>
    В окошко «Владелец работы» (если оно пустое) вставляем скопированный ранее
    ID пользователя и в низу страницы нажимаем «Сохранить».
  </p>
</div>

{% endblock %}
