{% extends 'knowledge.html' %} {% block content %}

<div class="content">
  <h1 id="реквизиты-движения-исследователь">
    Реквизиты Движения “Исследователь”
  </h1>

  <p>
    <strong>Полное наименование организации:</strong> Межрегиональное
    общественное движение творческих педагогов “Исследователь”
  </p>

  <p>
    <strong>Сокращенное наименование организации:</strong> МОД “Исследователь”
  </p>

  <p><strong>ОГРН:</strong> 1077799022070</p>

  <p><strong>Дата регистрации:</strong> 04.10.2007</p>

  <p><strong>ИНН:</strong> 7725255104</p>

  <p><strong>КПП:</strong> 774301001</p>

  <p>
    <strong>Юридический адрес:</strong> 125008, г. Москва, проезд Черепановых,
    дом № 32
  </p>

  <p>
    <strong>Фактический / Почтовый адрес:</strong> 117198, г. Москва, ул. Саморы
    Машела, д.8, кв.69
  </p>

  <p><strong>E-mail:</strong> <a href="mailto:ood@redu.ru">ood@redu.ru</a></p>

  <p><strong>Номер расчетного счета в рублях:</strong> 40703810202870000032</p>

  <p><strong>Полное наименование банка:</strong> АО “АЛЬФА-БАНК”</p>

  <p><strong>Номер корреспондентского счета:</strong> 30101810200000000593</p>

  <p><strong>БИК:</strong> 044525593</p>
</div>

{% endblock %}
