{% extends 'base.html' %}

{% block content %}

	<div class = "content">
		<h1 id="банки-и-оплата-оргвзносов">Банки и оплата оргвзносов</h1>

<p>Оргвзнос оплачивается банковским переводом. Это - такой вид рублевого перевода, который делается по полным реквизитам счета и идет, как правило, 1-3 дня, срок зависит от банков отправителя и получателя. Квитанция - это специальный документ, в котором указываются полные реквизиты получателя и информация по необходимому платежу (формат комментария, сумма). Поэтому оплата по квитанции всегда “равно” банковский перевод.</p>

<p>Банковский перевод выполняют абсолютно все банки. Это - основной и главный вид взаимодействия банков. Поэтому оплатить оргвзнос можно по указанным в квитанции реквизитам в любом отделении любого банка, в банкоматах или онлайн-сервисах (на сайтах и в приложениях) банков. Для банкоматов и онлайн-сервисов возможность может зависеть от функционала, но уже, если не у всех, то у подавляющего большинства банков это предусмотрено.</p>

<p>Если участника пугает количество цифр и он боится ошибиться, рекомендуем сделать перевод в отделении банка с помощью операциониста.</p>

<p>Если участник никак не может оплатить банковским переводом, Наташа примет перевод на карту (нужно Наташе указать на этого участника). Так бывает с белорусами, украинцами, ДНР/ЛНР и некоторыми другими участниками. Перевод на карту принимаем в самых крайних случаях, в первую очередь стараемся помочь с выполнением банковского перевода.</p>

<p>Если участник неверно указал реквизиты, банк-получатель не найдет такого сочетания в своей базе и вернет деньги. Вероятности того, что в банке-получателе найдется набор реквизитов, которые совпадут с ошибочно указанными, просто не существует.</p>

<p>Некоторые банки в таких случаях дают возможность отправить в банк-получатель письмо-уточнение. Это - специальный документ, в котором указан неправильно отправленный платеж и исправленные реквизиты. Если такое письмо отправлено раньше, чем банк-получатель совершит возврат, деньги придут получателю.</p>

	</div>

{% endblock %}