{% extends 'knowledge.html' %}

{% block content %}

	<div class = "content">
		<h1 id="консультирование-работ">Консультирование работ</h1>

		<h2>Работа проекта приостановлена. Консультирование работ в 2025 году не проводится.</h2>

<p>Проект призван помочь авторам работ и их руководителям улучшить их работы.</p>

<p>На текущем этапе консультирование запущено только в письменном формате для уже готовых или находящихся на финальной стадии выполнения работ.</p>

<p>Автор и/или руководитель могут <a href="https://forms.gle/9oiH4Gg8JHKzBn4HA" target="_blank">подать заявку</a> на получение консультации, выбрав уровень эксперта, который будет консультировать работу.
Доступны консултации студентов, выпускников ВУЗов (специалистов, бакалавров или магистров), кандидатов и докторов наук. От степени эксперта зависит стоимость консультации.</p>

<p>Эксперт изучит работу, отметит её достоинства и недостатки, а главное - даст подробные рекомендации по улучшению работы. Выполнение этих рекомендаций позволит участникам
представить более успешную работу и повысить шансы не только пройти во 2 тур Конкурса, но и получить диплом лауреата.</p>

<p>По всем вопросам обращатся на <a href="mailto:consult@oodi.ru" target="_blank">consult@oodi.ru</a>.</p>

<p>Стоимость консультаций:</p>
<ul>
<li>Студента - 800 руб.</li>
<li>Выпускника ВУЗа - 1 000 руб.</li>
<li>Кандидата наук - 1 500 руб.</li>
<!--<li>Доктора наук - 2 000 руб.</li>-->
</ul>

<p><strong>Если на общую почту вернака пришло письмо с вопросом о консультировании, на который вы не можете ответить самостоятельно, перешлите письмо на этот же адрес: <a href="mailto:consult@oodi.ru" target="_blank">consult@oodi.ru</a>.</strong></p>

	</div>

{% endblock %}