{% extends 'knowledge.html' %} {% block content %}

<div class="content">
  <h1 id="контакты-членов-оргкомитета">Контакты членов оргкомитета</h1>

  <table style="font-size: 90%">
    <thead align="left">
      <tr>
        <th class="t-first">ФИО</th>
        <th class="t-first">Телефон</th>
        <th class="t-first">e-mail 1</th>
        <th class="t-first">e-mail 2</th>
        <th class="t-first">Задачи</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="t">Балжи Александр Сергеевич</td>
        <td class="t"><a href="tel:+7(916)950-54-62">+7(916)950-54-62</a></td>
        <td class="t">
          <a href="mailto:baljisasha@gmail.com">baljisasha@gmail.com</a>
        </td>
        <td class="t">
          <a href="mailto:a.balzhi@vernadsky.info">a.balzhi@vernadsky.info</a>
        </td>
        <td class="t">Взаимодействие с русеками, Ведение соцсетей</td>
      </tr>
      <tr>
        <td class="t">Кушлевич Артём Олегович</td>
        <td class="t"><a href="tel:+7(919)724-26-83">+7(919)724-26-83</a></td>
        <td class="t">
          <a href="mailto:artem.kushlevich@yandex.ru"
            >artem.kushlevich@yandex.ru</a
          >
        </td>
        <td class="t">
          <a href="mailto:a.kushlevich@vernadsky.info"
            >a.kushlevich@vernadsky.info</a
          >
        </td>
        <td class="t">Вычитка сайта, Техническая проверка работ</td>
      </tr>
      <tr>
        <td class="t">Леонтович Наталия Александровна</td>
        <td class="t"><a href="tel:+7(903)171-29-26">+7(903)171-29-26</a></td>
        <td class="t">
          <a href="mailto:naleont@gmail.com">naleont@gmail.com</a>
        </td>
        <td class="t">
          <a href="mailto:n.leontovich@vernadsky.info"
            >n.leontovich@vernadsky.info</a
          >
        </td>
        <td class="t">Координация оргкомитета</td>
      </tr>
      <tr>
        <td class="t">Леонтович Юлия Александровна</td>
        <td class="t"><a href="tel:+7(903)171-29-27">+7(903)171-29-27</a></td>
        <td class="t">
          <a href="mailto:uleontov@gmail.com">uleontov@gmail.com</a>
        </td>
        <td class="t">
          <a href="mailto:y.leontovich@vernadsky.info"
            >y.leontovich@vernadsky.info</a
          >
        </td>
        <td class="t"> </td>
      </tr>
      <tr>
        <td class="t">Лютова Людмила Алксеевна</td>
        <td class="t"><a href="tel:+7(991)105-48-92">+7(991)105-48-92</a></td>
        <td class="t">
          <a href="mailto:vereskldr@gmail.com">vereskldr@gmail.com</a>
        </td>
        <td class="t">
          <a href="mailto:l.lyutova@vernadsky.info">l.lyutova@vernadsky.info</a>
        </td>
        <td class="t"> </td>
      </tr>
      <tr>
        <td class="t">Ляхова Юлия Андреевна</td>
        <td class="t"><a href="tel:+7(965)164-68-64">+7(965)164-68-64</a></td>
        <td class="t">
          <a href="mailto:y-lyahova@mail.ru">y-lyahova@mail.ru</a>
        </td>
        <td class="t">
          <a href="mailto:y.lyakhova@vernadsky.info"
            >y.lyakhova@vernadsky.info</a
          >
        </td>
        <td class="t"> </td>
      </tr>
      <tr>
        <td class="t">Михайлова Татьяна Сергеевна</td>
        <td class="t"><a href="t.me/tati_mikhaylova">Telegram</a></td>
        <td class="t">
          <a href="mailto:blinooolya@gmail.com">Tanya_mikhaylova@mail.ru</a>
        </td>
        <td class="t">
          <a href="mailto:o.muravyova@vernadsky.info"
            >t.mikhaylova@vernadsky.info</a
          >
        </td>
        <td class="t"> </td>
      </tr>
      <tr>
        <td class="t">Муравьева Ольга Борисовна</td>
        <td class="t"><a href="tel:+7(965)197-22-13">+7(965)197-22-13</a></td>
        <td class="t">
          <a href="mailto:blinooolya@gmail.com">blinooolya@gmail.com</a>
        </td>
        <td class="t">
          <a href="mailto:o.muravyova@vernadsky.info"
            >o.muravyova@vernadsky.info</a
          >
        </td>
        <td class="t"> </td>
      </tr>
      <tr>
        <td class="t">Сафиуллина Эльнара Саяровна</td>
        <td class="t"><a href="tel:+7(985)360-52-24">+7(985)360-52-24</a></td>
        <td class="t">
          <a href="mailto:fluflucat@gmail.com">fluflucat@gmail.com</a>
        </td>
        <td class="t">
          <a href="mailto:e.safiullina@vernadsky.info"
            >e.safiullina@vernadsky.info</a
          >
        </td>
        <td class="t"> </td>
      </tr>
      <tr>
        <td class="t">Северинова Анна Александровна</td>
        <td class="t"><a href="tel:+7(916)628-97-98">+7(916)628-97-98</a></td>
        <td class="t">
          <a href="mailto:anysha061198@yandex.ru">anysha061198@yandex.ru</a>
        </td>
        <td class="t">
          <a href="mailto:a.severinova@vernadsky.info"
            >a.severinova@vernadsky.info</a
          >
        </td>
        <td class="t">Координация коммуникаций с участниками</td>
      </tr>
      <tr>
        <td class="t"> </td>
        <td class="t"> </td>
        <td class="t"> </td>
        <td class="t"> </td>
        <td class="t"> </td>
      </tr>
      <tr>
        <td class="t">Хотылева Ирина Александровна</td>
        <td class="t"><a href="tel:+7(916)455-76-15">+7(916)455-76-15</a></td>
        <td class="t">
          <a href="mailto:i.hotileva@redu.ru">i.hotileva@redu.ru</a>
        </td>
        <td class="t"> </td>
        <td class="t">Печатная продукция, Координация региональных туров</td>
      </tr>
      <tr>
        <td class="t">Сайткулова Гульфира Ильясовна</td>
        <td class="t"><a href="tel:+7(903)628-15-22">+7(903)628-15-22</a></td>
        <td class="t">
          <a href="mailto:gsaitkoulov@gmail.com">gsaitkoulov@gmail.com</a>
        </td>
        <td class="t">
          <a href="mailto:gs@vernadsky.info">gs@vernadsky.info</a>
        </td>
        <td class="t">Исполнительный директор</td>
      </tr>
      <tr>
        <td class="t">Мазыкина Нина Васильевна</td>
        <td class="t"><a href="tel:+7(916)431-83-90">+7(916)431-83-90</a></td>
        <td class="t">
          <a href="mailto:nina.maz@mail.ru">nina.maz@mail.ru</a>
        </td>
        <td class="t"> </td>
        <td class="t">Коммуникации с региональными турами</td>
      </tr>
      <tr>
        <td class="t-last">Леонтович Александр Владимирович</td>
        <td class="t-last">
          <a href="tel:+7(903)719-98-26">+7(903)719-98-26</a>
        </td>
        <td class="t-last">
          <a href="mailto:leontov@gmail.com">leontov@gmail.com</a>
        </td>
        <td class="t-last">
          <a href="mailto:leontov@oodi.ru">leontov@oodi.ru</a>
        </td>
        <td class="t-last">Председатель оргкомитета</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
