{% extends 'knowledge.html' %}

{% block content %}

<div class="content">
	<h1 id="контакты-оргкомитета">Контакты оргкомитета</h1>

<p><strong><em>E-mail:</em></strong> <a href="mailto:info@vernadsky.info">info@vernadsky.info</a></p>

<p><strong><em>Телефон:</em></strong> <a href="tel:+79362872060">+7 936 287-20-60</a> (Время работы: с 9.00 до 18.00 по Московскому времени)</p>

<p><strong><em>Telegram (личные сообщения):</em></strong> <a href="https://t.me/vernadsky_org">@vernadsky_org</a></p>

<p><strong><em>Telegram-канал:</em></strong> <a href="https://t.me/InfoVernadsky">@InfoVernadsky</a></p>

<p><strong><em>Вконтакте:</em></strong> <a href="https://vk.com/ship_student">Группа “Школа исследовательских проектов - Ученик</a></p>

<p><strong><em>Вконтакте:</em></strong> <a href="https://vk.com/ship_tutor">Группа “Школа исследовательских проектов - Наставник</a></p>

	</div>

{% endblock %}