{% extends 'base.html' %}

{% block content %}
    
	<div class = "content">
		<h1 id="контакты-руководителей-секций">Контакты руководителей секций</h1>

<p><a href="#estest">Ествественнонаучное направление</a><br />
<a href="#gum">Гуманитарное направление</a></p>

<h3><a name="estest">Естественнонаучное направление</a></h3>
<table style="font-size:90%;">
 <tr>
  <td class="t-first"><p><b>Руководитель направления</b></p></td>
  <td class="t-first" width="28%"><p><b>Саввичев Александр Сергеевич</b></p></td>
  <td class="t-first"><p><a href="tel:+79099756370">+7(909)975-63-70</a></p></td>
  <td class="t-first"><p><a href="mailto:savvichev@mail.ru">savvichev@mail.ru</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Науки о Земле</p></td>
  <td class="t"><p>Хотылев Алексей Олегович</p></td>
  <td class="t"><p><a href="tel:+79856210048">+7(985)621-00-48</a></p></td>
  <td class="t"><p><a href="mailto:akhotylev@gmail.com">akhotylev@gmail.com</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Науки о водоемах</p></td>
  <td class="t"><p>Фролова Галина Ивановна</p></td>
  <td class="t"><p><a href="tel:+79091619964">+7(909)161-99-64</a></p></td>
  <td class="t"><p><a href="mailto:gfrolova@yandex.ru">gfrolova@yandex.ru</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Ботаника</p></td>
  <td class="t"><p>Белоновская Елена Анатольевна</p></td>
  <td class="t"><p><a href="tel:+79031782093">+7(903)178-20-93</a></p></td>
  <td class="t"><p><a href="mailto:belena53@mail.ru">belena53@mail.ru</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Зоология позвоночных</p></td>
  <td class="t"><p>Дунаев Евгений Анатольевич</p></td>
  <td class="t"><p><a href="tel:"></a></p></td>
  <td class="t"><p><a href="mailto:dunayeve@mail.ru">dunayeve@mail.ru</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Зоология беспозвоночных</p></td>
  <td class="t"><p>Горюнов Данила Николаевич</p></td>
  <td class="t"><p><a href="tel:"></a></p></td>
  <td class="t"><p><a href="mailto:azoku5@ya.ru">azoku5@ya.ru</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Инженерная экология</p></td>
  <td class="t"><p>Мальцевская Надежда Владиславовна</p></td>
  <td class="t"><p><a href="tel:+79773570385">+7(977)357-03-85</a></p></td>
  <td class="t"><p><a href="mailto:maltsevskaya@yandex.ru">maltsevskaya@yandex.ru</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Охрана природы и окружающей среды</p></td>
  <td class="t"><p>Горелова Юлия Витальевна</p></td>
  <td class="t"><p><a href="tel:+79169523554">+7(916)952-35-54</a></p></td>
  <td class="t"><p><a href="mailto:julia-gorelova@yandex.ru">julia-gorelova@yandex.ru</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Фитоценология и растительные сообщества</p></td>
  <td class="t"><p>Лазарева Надежда Сергеевна</p></td>
  <td class="t"><p><a href="tel:+79165330167">+7(916)533-01-67</a></p></td>
  <td class="t"><p><a href="mailto:azuretit@yandex.ru">azuretit@yandex.ru</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Микробиология, клеточная биология <br />и физиология растений</p></td>
  <td class="t"><p>Саввичев Александр Сергеевич</p></td>
  <td class="t"><p><a href="tel:+7(903)178-20-93">+7(903)178-20-93</a></p></td>
  <td class="t"><p><a href="mailto:savvichev@mail.ru">savvichev@mail.ru</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Фундаментальная медицина, <br />профилактика заболеваний, медицинская генетика</p></td>
  <td class="t"><p>Докшукина Алина Алексеевна</p></td>
  <td class="t"><p><a href="tel:+7(926)492-46-43">+7(926)492-46-43</a></p></td>
  <td class="t"><p><a href="mailto:dokshukina.aa@gmail.com">dokshukina.aa@gmail.com</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Агробиология, агрохимия, защита растений</p></td>
  <td class="t"><p>Литвинов Михаил Борисович</p></td>
  <td class="t"><p><a href="tel:+7(903)172-68-94">+7(903)172-68-94</a></p></td>
  <td class="t"><p><a href="mailto:miklit@rambler.ru">miklit@rambler.ru</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Физиология животных и человека, <br />медицинская биохимия, медицинская биотехнология</p></td>
  <td class="t"><p>Сурина Елизавета Рафаэлевна</p></td>
  <td class="t"><p><a href="tel:+7(916)889-69-92">+7(916)889-69-92</a></p></td>
  <td class="t"><p><a href="mailto:Surinaelizaveta@gmail.com">Surinaelizaveta@gmail.com</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Физика и астрономия</p></td>
  <td class="t"><p>Гущина Марина Владимировна</p></td>
  <td class="t"><p><a href="tel:+7(903)719-98-28">+7(903)719-98-28</a></p></td>
  <td class="t"><p><a href="mailto:vse.stranniki@gmail.com">vse.stranniki@gmail.com</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Химия</p></td>
  <td class="t"><p>Суминова Елизавета Алексеевна</p></td>
  <td class="t"><p><a href="tel:+7(915)268-60-17">+7(915)268-60-17</a></p></td>
  <td class="t"><p><a href="mailto:elizaveta.rukosueva@school.msu.ru">elizaveta.rukosueva@school.msu.ru</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Математика и информатика</p></td>
  <td class="t"><p>Буренко Илья Михайлович</p></td>
  <td class="t"><p><a href="tel:+7(915)460-00-66">+7(915)460-00-66</a></p></td>
  <td class="t"><p><a href="mailto:iburenko@gmail.com">iburenko@gmail.com</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Инженерные исследования</p></td>
  <td class="t"><p>Вомпе Татьяна Алексеевна</p></td>
  <td class="t"><p><a href="tel:+7(929)651-94-15">+7(929)651-94-15</a></p></td>
  <td class="t"><p><a href="mailto:tvompe@gmail.com">tvompe@gmail.com</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Микология</p></td>
  <td class="t"><p>Смирнов Иван Алексеевич</p></td>
  <td class="t"><p><a href="tel:+7(916)102-93-24">+7(916)102-93-24</a></p></td>
  <td class="t"><p><a href="mailto:ismirnoff@yandex.ru">ismirnoff@yandex.ru</a></p></td>
 </tr>
 <tr>
  <td class="t-last"><p>Тропой открытий В.И.Вернадского (5-7 классы). Естественные науки</p></td>
  <td class="t-last"><p>Вузман Наталия Ильинична</p></td>
  <td class="t-last"><p><a href="tel:+7(915)013-04-34">+7(915)013-04-34</a></p></td>
  <td class="t-last"><p><a href="mailto:n.vuzman@gmail.com">n.vuzman@gmail.com</a></p></td>
 </tr>
 <tr>
  <td class="t-last"><p>Тропой открытий В.И.Вернадского (5-7 классы). Технические науки</p></td>
  <td class="t-last"><p>Волкова Екатерина Вадимовна</p></td>
  <td class="t-last"><p><a href="tel:+7(982)634-12-06">+7(982)634-12-06</a></p></td>
  <td class="t-last"><p><a href="mailto:volkovaev@26kadr.ru">volkovaev@26kadr.ru</a></p></td>
 </tr>
</table>

<h3><a name="gum">Гуманитарное направление</a></h3>
<table style="font-size:90%;">
 <tr>
  <td class="t-first"><p><b>Руководитель направления</b></p></td>
  <td class="t-first" width="28%"><p><b>Свешникова Надежда Владиславовна</b></p></td>
  <td class="t-first"><p><a href="tel:+79267176305">+7(926)717-63-05</a></p></td>
  <td class="t-first"><p><a href="mailto:sveshnikova@gmail.com">sveshnikova@gmail.com</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Человек в современном мире</p></td>
  <td class="t"><p>Обухов Алексей Сергеевич</p></td>
  <td class="t"><p><a href="tel:+7(903)712-96-83">+7(903)712-96-83</a></p></td>
  <td class="t"><p><a href="mailto:ao@redu.ru">ao@redu.ru</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Психофизиология и здоровье человека</p></td>
  <td class="t"><p>Феоктистова Светлана Васильевна</p></td>
  <td class="t"><p><a href="tel:"></a></p></td>
  <td class="t"><p><a href="mailto:svfeoktistova@mail.ru">svfeoktistova@mail.ru</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Образование: история и современность</p></td>
  <td class="t"><p>Конрад Инна Сергеевна</p></td>
  <td class="t"><p><a href="tel:"></a></p></td>
  <td class="t"><p><a href="mailto:innakonrad@gmail.com">innakonrad@gmail.com</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Искусство и литература</p></td>
  <td class="t"><p>Зыкова Галина Владимировна</p></td>
  <td class="t"><p><a href="tel:+7(963)634-00-73">+7(963)634-00-73</a></p></td>
  <td class="t"><p><a href="mailto:gzykova@mail.ru">gzykova@mail.ru</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Философия и культурология</p></td>
  <td class="t"><p>Толстухин Алексей Вадимович</p></td>
  <td class="t"><p><a href="tel:"></a></p></td>
  <td class="t"><p><a href="mailto:aleksey.tolstukhin@school.msu.ru">aleksey.tolstukhin@school.msu.ru</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Лингвистика. Язык в современном мире</p></td>
  <td class="t"><p>Доронина Полина Дмитриевна</p></td>
  <td class="t"><p><a href="tel:+7(915)373-66-94">+7(915)373-66-94</a></p></td>
  <td class="t"><p><a href="mailto:dwinterman@yandex.ru">dwinterman@yandex.ru</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Народная культура. История и культура российских деревень. Диалектология и ономастика</p></td>
  <td class="t"><p>Комарова Вера Андреевна</p></td>
  <td class="t"><p><a href="tel:"></a></p></td>
  <td class="t"><p><a href="mailto:vir_kom@rambler.ru">vir_kom@rambler.ru</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>История: человек и событие</p></td>
  <td class="t"><p>Иноземцева Зинаида Петровна</p></td>
  <td class="t"><p><a href="tel:+7(958)813-89-44">+7(958)813-89-44</a></p></td>
  <td class="t"><p><a href="mailto:zinaida33@bk.ru">zinaida33@bk.ru</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Военная история</p></td>
  <td class="t"><p>Рябов Сергей Алексеевич</p></td>
  <td class="t"><p><a href="tel:"></a></p></td>
  <td class="t"><p><a href="mailto:wpsr@yandex.ru">wpsr@yandex.ru</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Экономика, социология и право</p></td>
  <td class="t"><p>Демин Игорь Святославович</p></td>
  <td class="t"><p><a href="tel:+7(910)408-96-56">+7(910)408-96-56</a></p></td>
  <td class="t"><p><a href="mailto:ig.demin@gmail.com">ig.demin@gmail.com</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Региональное краеведение</p></td>
  <td class="t"><p>Фролов Александр Иванович</p></td>
  <td class="t"><p><a href="tel:+7(915)381-71-19">+7(915)381-71-19</a></p></td>
  <td class="t"><p><a href="mailto:alexander@frolow.ru">alexander@frolow.ru</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Личность, памятники, события в религиозной культуре</p></td>
  <td class="t"><p>Мелехова Галина Николаевна</p></td>
  <td class="t"><p><a href="tel:+7(909)936-95-52">+7(909)936-95-52</a></p></td>
  <td class="t"><p><a href="mailto:melehova@list.ru">melehova@list.ru</a></p></td>
 </tr>
 <tr>
  <td class="t"><p>Археология</p></td>
  <td class="t"><p>Зозуля Сергей Сергеевич</p></td>
  <td class="t"><p><a href="tel:+7(926)336-19-71">+7(926)336-19-71</a></p></td>
  <td class="t"><p><a href="mailto:sergi_z@mail.ru">sergi_z@mail.ru</a></p></td>
 </tr> 
 <tr>
  <td class="t-last"><p>Тропой открытий В.И.Вернадского (5-7 классы). Гуманитарная секция</p></td>
  <td class="t-last"><p>Штейн Ася Владимировна</p></td>
  <td class="t-last"><p><a href="tel:+7(925)879-19-04">+7(925)879-19-04</a></p></td>
  <td class="t-last"><p><a href="mailto:asyashtein7@gmail.com">asyashtein7@gmail.com</a></p></td>
 </tr> 
</table>

	</div>

{% endblock %}