{% extends 'knowledge.html' %} {% block content %}

<div class="content">
  <h1 id="фестиваль---конкурс-художественного-творчества">
    Фестиваль - конкурс художественного творчества
  </h1>

  <p>Информация появится</p>

  <!--<p>Выступление группы (или одного участника группы) не более 5 минут.</p>-->

  <!--<p>Выступление необходимо записать на видео и прислать в <a href="https://forms.gle/WdPC4GeALdPLR3q4A">форме</a> до 6 апреля включительно. В дальнейшем для оценки жюри оно будет загружено на специально созданный для этого YouTube-канал в закрытом доступе (возможность просматривать видео выступлений будет только у участников, зарегистрированных на нашем сайте).</p>-->
</div>

{% endblock %}
