{% extends 'knowledge.html' %} {% block content %}
<h2>Работа с почтой</h2>

<h3 id="где-заходить">Где заходить</h3>

<p>
  Вход в почту через ваши корпоративные учетные записи. Если не помните пароль,
  обращайтесь к <a href="https://t.me/severasa" target="_blank">Ане</a> или
  <a href="https://t.me/naleont" target="_blank">Наташе</a>, но постарайтесь
  почаще его помнить.
</p>

<p>
  После того как вошли в свой ящик, нажмите на иконку вашей учетной записи и
  выберите пользователя <em>Конкурс им. В. И. Вернадского</em>, в углу иконки
  которого нарисован ключ, а рядом написано <em>Делегированный</em>.
</p>

<p>
  <img
    src="static/images/email_img/email-01.png"
    alt="картинка"
    style="height: 100px; margin: 15px"
  />
  <img
    src="static/images/email_img/email-02.png"
    alt="картинка"
    style="height: 100px; margin: 15px"
  />
</p>

<h3 id="подпись">Подпись</h3>

<p>Для всех членов оргкомитета уже настроены подписи в веб-интерфейсе.</p>

<p>
  <strong>Важно!</strong> При настройке подписи в любом приложении
  <strong><em>копируйте подпись, которую для вас создали.</em></strong> Она
  <strong><em>должна в точности совпадать</em></strong
  >, потому что по ней настроены фильтры, которые автоматически присваивают
  вашим письмам ярлыки. Это нужно для более удобной навигации в письмах.
</p>

<h3>Вставка подписи</h3>

<p>
  <img
    src="static/images/email_img/email01.jpg"
    alt=""
    style="height: 380px; float: right; margin: 15px"
  />
</p>

<p>
  В приложениях вы можете настроить автоматическую подпись, которую не нужно
  добавлять вручную. В веб-интерфейсе до отправки письма
  <strong>не забудьте выбрать вашу подпись</strong> (см. скриншот).
</p>

<p>
  Если вы отправили письмо и сразу поняли, что не добавили в него подпись - не
  страшно, в течение нескольких секунд вы можете отменить отправку в левом
  нижнем углу (см. скриншот), вставить подпись и отправить письмо снова.
  <img
    src="static/images/email_img/email02.jpg"
    alt=""
    style="height: 200px; margin: 5px, 15px"
  />
</p>

<p>
  Если вы поняли, что не вставили подпись, когда кнопка отмены уже исчезла,
  просто выделите письмо и присвойте ему ярлык с вашим именем (см. скриншот).
</p>

<p>
  <img
    src="static/images/email_img/email03.jpg"
    alt=""
    style="height: 300px; margin: 15px"
  />
</p>

<h3>Совместная работа</h3>

<p>
  Она будет организована просто. <a href="/email_schedule">Здесь</a> лежит
  расписание, по которому мы 3 раза в день будем проверять почту. В своё время
  нужно зайти в почту и ответить на все новые письма. После вас не должно
  оставаться не отвеченных писем, за исключением отдельных случаев, о которых
  будет отдельно говориться.
</p>

<p>
  Если вы видите новое письмо в цепочке, на которой стоит ярлык с именем другого
  человека - отвечайте на него сами. На цепочке тогда будет стоять 2 ярлыка с
  разными именами.
</p>

<p>
  <img
    src="static/images/email_img/email04.jpg"
    alt=""
    style="height: 350px; float: right; margin: 15px"
  />
</p>
<h3>Ярлыки</h3>

<p>
  Помимо ярлыков с именами авторов ответов можно самостоятельно создавать ярлыки
  по темам писем и присваивать их письмам. Перед созданием нового ярлыка
  проверьте, что ярлыка с такой темой еще нет. Новые ярлыки с темами нужно
  размещать под ярлыком “Темы”.
</p>

<p>
  <img
    src="static/images/email_img/email05.jpg"
    alt=""
    style="height: 200px; margin: 15px"
  />
</p>

<h3>Не отвеченные письма</h3>

<p>
  Если вы открыли письмо, а потом решили, что не можете на него ответить (или
  сделаете это позже —
  <strong>обязательно отметьте его, как непрочитанное</strong>, чтобы оно не
  потерялось.
</p>

<p>
  <img
    src="static/images/email_img/email06.jpg"
    alt=""
    style="height: 50px; float: left; margin: 15px"
  />
</p>

<p>
  Если вам нужно подумать над ответом, и вы не хотите, чтобы кто-то другой
  ответил на это письмо — поставьте на него ярлык со своим именем и ярлык
  <strong>«А резерв»</strong>. Не забудьте пометить письмо, как непрочитанное.
  После отправки ответа «А резерв» лучше снять.
</p>

<h3>Шаблоны ответов</h3>
<h4>Создание шаблонов</h4>

<p>
  Для однотипных вопросов можно создавать шаблоны ответов. Для этого нажмите
  «Написать», впишите в новое письмо текст шаблона, нажмите в правом нижнем углу
  на 3 точки, затем «Шаблоны», «Сохранить черновик, как новый шаблон»,
  «Сохранить как новый шаблон». В открывшемся окне впишите тему ответа и нажмите
  «Сохранить». В шаблон сохраняется всё, что напечатано в черновике, включая
  подпись, лишние пробелы, пустые строки и цитирование предыдущих писем в
  цепочке, если оно присутствует.
</p>

<p>
  <em>Обратите внимание:</em> в стандартном окне в названии шаблона отображаются
  только около 25 первых символов его названия (например, “Регистрация на сайте
  закр….”). Поэтому при формулировке названия нужно попытаться уместить главную
  суть в самом начале, чтобы по такому короткому кусочку текста не только вы, но
  и другие могли понять, на какой вопрос можно ответить этим шаблоном.
</p>

<p>
  <img
    src="static/images/email_img/email07.jpg"
    alt=""
    style="height: 400px; margin: 15px"
  />
</p>

<h4>Вставка шаблонов</h4>

<p>
  После того, как в письме участника вы нажали «Ответить», вы можете вставить
  один из ранее созданных шаблонов. Для этого в правом нижнем углу нажмите 3
  точки, затем «Шаблоны» и выберите нужный шаблон из списка. Текст шаблона
  вставится в ваше поле ответа.
  <img src="static/images/email_img/email08.jpg" alt="" style="margin: 15px" />
</p>

<p>
  Шаблоны — очень приятный инструмент, который экономит силы и время. Тем не
  менее, старайтесь не сводить свою работу к их вставке в ответ на каждое
  полученное письмо. 1. Внимательно прочитывайте письмо. Убедитесь в том, что вы
  правильно поняли вопрос, а не увидели в нем несколько знакомых слов и сделали
  вывод о его сути (такой соблазн появляется при попытке нарастить скорость,
  избегайте этого). 2. Перед отправкой перечитывайте шаблон. Вероятно, вам
  захочется в нём что-нибудь исправить или вы поймете, что шаблонный ответ не
  совсем подходит к этому письмо, и лучше его немного переформулировать.
</p>

<h4>Редактирование шаблонов</h4>

<p>
  Иногда уже созданный шаблон хочется исправить. Последовательность действий для
  этого очень похожа на таковую при создании нового шаблона, различается только
  последний шаг.
</p>

<p>
  Чтобы не сохранить в шаблон ничего лишнего, будем редактировать в пустом
  письме. Нажимаем «Написать», вставляем в пустое письмо нужный шаблон,
  редактируем текст.
</p>

<p>
  После этого нажимаем 3 точки, «Шаблоны», «Сохранить черновик, как новый
  шаблон» и в разделе «Перезаписать шаблон» выбираем тот шаблон, который мы
  изменяем. Подтверждаем действие и радуемся.
</p>

<p>
  <img src="static/images/email_img/email09.jpg" alt="" style="margin: 15px" />
</p>

<h4>Создание задач из писем</h4>

<p>Еще одна полезная функция в Гугл-почте — создание задач из писем.</p>

<p>
  Справа в нашей почте есть поле Гугл-задач. В нем можно создавать задачи
  вручную, но не только. Если вы откроете любое письмо, то сможете создать
  задачу, в которой будет ссылка на это письмо. Это очень удобно, поскольку
  позволяет коротко сформулировать задачу и перейти к полному тексту переписки,
  если в процессе выполнения задачи потребуется вспомнить контекст.
</p>

<p>
  Для создания задачи открываем нужное письмо и на верхней панели нажимаем
  «Добавить в задачи». В списке задач после этого появится новая задача с темой
  вашего письма в качестве названия и ссылкой на письмо. Если перейти в
  редактирование задачи — можем изменить название, добавить развернутое
  описание, срок выполнения и подзадачи.
</p>

<p>
  <img src="static/images/email_img/email10.jpg" alt="" style="margin: 15px" />
</p>

<p>
  Поскольку мы делаем вид, что мы все — один человек, который законно сидит в
  своей одной личной почте, мы не сможем назначать друг другу эти задачи
  встроенными инструментами. Так что, если будем пользоваться этой функцией —
  придется вручную обозначать, кому принадлежит задача, или запоминать свои
  задачи. Если задача адресована тому, «кто первый возьмется» — это тоже нужно
  обозначить.
</p>

<h3>Адресные письма</h3>
<p>
  Мы отвечаем на все письма, которые видим. При этом есть, как минимум, одна
  категория, которой занимается только один человек: это – финансовые документы.
  Если участник просит подготовить договор, счет или акт – присвойте этому
  письму ярлык «Финансовые документы» и отметьте его, как непрочитанное. Но не
  увлекайтесь! Перед тем, как выполнять эти действия, внимательно прочитайте
  письмо. Возможно, вы и сами сможете на него ответить!
</p>

{% endblock %}
