{% extends 'base.html' %}

{% block content %}
    
	<div class = "content">
		<h1 id="документ-для-обратной-связи">Документ для обратной связи</h1>

<p>Пишите в этот док идеи касательно того, какие разделы нужно добавить, что исправить - и любые другие.</p>

<p>Не забывайте указывать ссылку на страницу, где требуются исправления/дополнения. Если пожелание сосотоит в том, чтобы добавить новый раздел - вместо ссылки пишите, в каком месте его лучше разместить.</p>

<iframe src="https://docs.google.com/spreadsheets/d/1yNtII_1nK4yQKbSHjRSreqQn4GDsimmNNrkFkhjabEk/edit?usp=sharing" width="100%" height="1000" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>

	</div>

{% endblock %}