{% extends 'knowledge.html' %} {% block content %}

<div class="content">
  <h1 id="условия-участия">Условия участия</h1>

  <p>
    Все условия участия для Конкурса им. В. И. Вернадского и Конкурса “Тропой
    открытий В. И. Вернадского” аналогичны друг другу, за исключением возраста
    участников.
  </p>

  <h3 id="возраст-авторов">Возраст авторов</h3>

  <p>
    К участию в <strong>Конкурсе им. В. И. Вернадского</strong> приглашаются:
  </p>
  <ul>
    <li>Учащиеся 8-11 классов общеобразовательных школ;</li>
    <li>
      Учащиеся 12 и других более старших классов из зарубежных
      общеобразовательных школ;
    </li>
    <li>Учащиеся учреждений среднего профессионального образования.</li>
  </ul>

  <p>
    Участники Конкурса им. В. И. Вернадсокго должны быть не старше 18 лет на 1
    апреля.
  </p>

  <p>
    К участию в
    <strong>Конкурсе “Тропой открытий В. И. Вернадского”</strong> приглашаются
    авторы, обучающиеся в 5-7 классах общеобразовательных школ И
    четвероклассники, которым в мае исполнится 10 лет.
  </p>

  <h3 id="сумма-оргвзносов">Сумма оргвзносов</h3>

  <ul>
    <li>
      Рецензирование работ на 1 туре Конкурсов в 2025 году для участников
      бесплатно.
    </li>
    <li>
      Оргвзнос за 2 тур составит 5 500 рублей
      <code>(актуально на 06.03.2025)</code> за каждого автора, руководителя и
      сопровождающего.
    </li>
    <li>
      Работы - победители региональных туров получают скидку на оргвзнос. С
      учетом скидки сумма оргвзноса составляет 4 000 рублей
      <code>(актуально на 06.03.2025)</code>.
    </li>
    <li>
      Работы, получившие наивысшую оценку по результатам рецензирования,
      освобождаются от уплаты оргвзноса.
    </li>
  </ul>

  <p>
    Оргвзнос включает в себя расходы на организацию участия авторов в Конкурсах,
    в том числе экспертизу работ, организацию участия в мероприятиях программы,
    представление стендового места и пр.
  </p>
</div>

{% endblock %}
