{% extends 'base.html' %}

{% block content %}

	<div class = "content">
		<h1 id="гарантийные-письма">Гарантийные письма</h1>

<p>Информация появится, как только станет актуальна.</p>

<!--
Если участник или его организация не могут оплатить учатсие **до 6 апреля включительно**, просим их предоставить гарантийное письмо.

***Почему заранее?*** Дело в том, что банковские платежи могут идти до 3 рабочих дней. Поэтому платежи, отправленные 6 апреля, мы точно успеем получить до наступления выходных 10-11 апреля. Платежи отправленные позже могут успеть дойти, а могут не успеть. В таком случае мы просим участника предоставить гарантийное письмо даже если участие будет оплачено до начала Чтений, но после 6 апреля.

Если платит организация, участник должен попросить бухгалтерию подготовить гарантийное письмо: работники бухгалтерии знают, как это сделать, и своя форма у них есть.

Если платить будет человек, нужно отправить ему [бланк](/assets/files/guarantee_letter.docx), попросить заполнить и подписать гарантийное письмо и прислать копию (или фотографию) нам.

### Если вы получили гарантийное письмо:

1. Откройте письмо и перенесите из него данные в таблицу [Гарантийные письма](https://docs.google.com/spreadsheets/d/1QqTPAnorS5ogVtjAABLTeVwXr0qSMpkG4P417BQqT60/edit?usp=sharing):
    * Название организации
	* Номер работы
	* Общую сумму оргвзноса в гарантийном письме
	* Дату, которой подписано письмо
	* Дату, до которой обещана оплата
1. Сохраните файл с письмом в папку [Гарантийные письма]( https://drive.google.com/drive/u/0/folders/1JLy5QmHKpugbp78siiCpfqmm75JACJuX ) общего диска.
1. Переименуйте файл: напишите номер работы, указанный вами в таблице (п.1.2) и название организации.
1. Если письмо гарантирует оплату участия не одной работы, а нескольких, скопируйте в таблице строку, которую вы написали в п.1 и вставьте её ниже столько раз, за сколько работ должны заплатить по этому пиьсму (минус 1: одна такая строка у вас уже есть). Измените номера работ так, чтобы в разных строках они были разными, а в итоге оказались перечислены все работы, которые будут оплачены по этому письму.
-->

	</div>
	
{% endblock %}