{% extends 'base.html' %}

{% block content %}

<h2>Квитанции и договоры для отправки участникам</h2>

<p><a target="_blank" href="static/files/second_tour_receipt.pdf">Скачать квитанцию на оплату 2 тура</a></p>

<p>Счет на оплату можно скачать в личном кабинете в разделе <strong><em>Заявки на второй тур</em></strong>
 <strong>после</strong> подачи заявки.</p>

<p>То есть участник сначала подает заявку (с 14 по 30 марта), а потом
задает все вопросы по оплате. Часть из них отпадут, потому что после
подачи заявки ему станет доступна оферта, квитанция и формирование
счета: большинство вопросов сразу отпадет.</p>

<h3>Договор-оферта</h3>

<p><a target="_blank" href="static/files/offer_2_tour.pdf">Скачать договор-оферту</a>.
 Это - односторонний договор, подписанный только с нашей стороны.
Согласием на его условия со стороны участника является оплата оргвзноса.
 Оферта бывает нужна организациям или физическим лицам: например, если
человек оплачивает оргвзнос самостоятельно, а после этого хочет получить
 компенсацию от своей организации: на основании оферты организация
перечислит участнику оплаченную сумму.</p>

<!--<p>Иногда для отчетности организациям не подходят некоторые пункты оферты.-->
<!-- В этом случае нужно отправить участнику <a target="_blank" href="http://org.vernadsky.info/assets/files/offer_2_tour_editable.doc">-->
<!--  редактируемый договор</a> и попросить после заполнения прислать документ на подпись.</p>-->

<p>Если участник просит акт выполненных услуг - документ, подтверждающий
 оказание исполнителем (нами) услуг по договору-оферте, это нужно
отметить в таблице платежей (инструкция будет позже).</p>

<h3>Двусторонний договор</h3>

<p>Некоторым организациям для отчетности не подходит договор-оферта.
Если участник просит двусторонний договор <b>и он участвует дистанционно</b>, нужно отправить ему
 <a target="_blank" href="static/files/contract_2_tour.docx">эту форму</a>, попросить заполнить её и прислать на подпись.</p>

<p><strong>Акт</strong> к двустороннему договору находится в форме вместе с договором отдельной страницей,
 его тоже нужно заполнить.</p>

<p><strong>Счет</strong> мы выпишем по заполненному договору, когда
участник пришлет его нам. Для этого проверьте, все ли поля в присланной
участником обратно форме заполнены и, если всё в порядке, перешлите
документы на <a target="_blank" href="mailto:gs@vernadsky.info">gs@vernadsky.info</a>.</p>

<!--<p>Если какие-то пункты этого договора организации не подходят, и участник просит внести изменения, -->
<!-- отправляем ему <a target="_blank" href="http://org.vernadsky.info/assets/files/contract_2_tour_editable.docx">-->
<!--  редактируемую форму</a>. Просим самостоятельно внести нужные изменения и прислать документ для утверждения и -->
<!-- подписи.</p>-->

<h3>Очное участие</h3>

<p>Если просят двухсторонний договор <b>на очное участие</b>, нужно отправить ему
 <a target="_blank" href="static/files/contract_2_tour_internal.docx">эту форму</a>,
 попросить заполнить её и прислать на подпись.</p>

<p><strong>Акт</strong> к двустороннему договору находится в форме вместе с договором отдельной страницей,
 его тоже нужно заполнить.</p>

<p><strong>Счет</strong> мы выпишем по заполненному договору, когда
участник пришлет его нам. Для этого проверьте, все ли поля в присланной
участником обратно форме заполнены и, если всё в порядке, перешлите
документы на <a target="_blank" href="mailto:gs@vernadsky.info">gs@vernadsky.info</a>.</p>

{% endblock %}