{% extends 'knowledge.html' %}

{% block content %}

	<div class = "content">
		<h1 id="дополнительные-проекты">Дополнительные проекты</h1>

<p>Со временем Конкурс им. В. И. Вернадского обрастает новыми проектами, которые мы создаем, чтобы дополнить Конкурс и повысить качество представляемых работ.</p>

<p><a href="/online_additional_contest">Дополнительный конкурс</a> - проводится в мае для участников, которые не смогли участвовать в очном конкурсе</p>

<p><a href="/consult_works">Консультирование работ</a> - проводится обычно вплоть до конца приема работ</p>

<p><a href="/vernadsky_olympiade">Олимпиада им. В. И. Вернадского</a> - тут что-нибудь нужно про неё написать</p>

	</div>

{% endblock %}