{% extends 'knowledge.html' %}

{% block content %}

	<div class = "content">
		<h1 id="дополнительные-проекты">Дополнительные проекты</h1>

<p>Со временем Конкурс им. В. И. Вернадского обрастает новыми проектами, которые мы создаем, чтобы дополнить Конкурс и повысить качество представляемых работ.</p>

<p><a href="/online_additional_contest">Дополнительный онлайн-конкурс</a> проводится онлайн в мае для участников, которые не смогли участвовать в очном конкурсе</p>

<p><a href="/consult_works">Консультирование работ</a> - работа проекта приостановлена</p>

<p><a href="/vernadsky_olympiade">Олимпиада им. В. И. Вернадского</a> проводится в марте, участники Чтений проходят в заключительный тур минуя отборочный этап.</p>

<p><a href="#">Конкурс проектных работ Путь в ноосферу</a></p>
scp -i ~/.ssh/id_rsa vernak:~/secretary_site/logs/gunicorn-error.log /Users/nataliya/Downloads

<p><a href="#"></a>Конкурс исследований и проектов дошкольников и младших школьников "Я - исследователь"</p>
	</div>

{% endblock %}