{% extends 'base.html' %}

{% block template %}
    
	<div class = "content">
		<h1 id="дополнительный-конкурс-конкурс-вернадский-онлайн">Дополнительный конкурс (Конкурс “Вернадский онлайн”)</h1>

		<p>Вопрос о проведении Дополнительного онлайн-конкурса в 2024 году пока открыт.</p>

<p>С 2017 года мы ежегодно проводим конкурс “Вернадский онлайн”. В его рамках участники, которые были допущены к участию во втором туре, но не смогли участвовать, представляют свои работы перед нашими экспертами в режиме онлайн-звонка.</p>

<p>В 2020 году основной конкурс прошел дистанционно из-за ограничений по коронавирусу. Дополнительный конкурс тоже состоялся. Он прошел после того, как были сняты ограничения. Авторы, у которых дома не было интернета, вышли на связь из своих школ, в которые они не могли попасть во время ограничений.</p>

<p>Подробная информация для участников о дополнительном конкурсе 2024 года появится перед началом 2 тура Конкурса им. В. И. Вернадского.</p>

<p><strong>Регистрация обычно проходит во второй половине апреля, слушания работ - в мае.</strong></p>

<p><em>Предварительный расчет оргвзноса - 5 000 рублей за участвующую работу.</em> Сумма еще не утверждена и может измениться. Точная информация появится перед началом 2 тура.</p>

<p>Первый тур для Конкурса им. В. И. Вернадского и Вернадского онлайн - общий. Дополнительный конкурс - альтернативный способ для участия только во втором туре. Участвовать могут те работы, которые на общих основаниях были допущены до второго тура Конкурса, так же, как те, кто приедут на второй тур в Москву.</p>

<p>Участвовать могут как работы с Конкурса им. В. И. Вернадского, так и с Конкурса “Тропой открытий В. И. Вернадского”.</p>

	</div>

{% endblock %}