{% extends 'base.html' %}

{% block content %}

	<div class="content">
		<h1 id="восстановление-пароля-администратором-сайта">Восстановление пароля администратором сайта</h1>

<p>Используйте этот способ, если пользователь жалуется, что не может восстановить пароль самостоятельно по кнопке «Восстановить пароль» под полями ввода логина и пароля.</p>

<p>Для восстановления пароля вам нужно <a href="frequent_actions#search_user">найти пользователя</a>.</p>

<p>Попробуйте найти пользователя по e-mail, с которого пришло письмо, или по фамилии. Если это не удалось, запросите у пользователя логин, который он придумал при регистрации на сайте, и выполните поиск по нему.</p>

<p><a href="frequent_actions#edit_user">Перейдите в режим редактирования пользователя.</a></p>

<p>Скопируйте содержимое поля «Логин» и вставьте его в поля «Новый пароль» и «Подтверждение пароля». Нажмите кнопку «Сохранить».</p>

<p><img src="static/images/password_recovery_img/password_recovery-05.png" alt="" style="height:400px; margin:15px;"></p>

<p><strong><em>Сообщите пользователю</em></strong> его логин и новый пароль (совпадающий с логином). Попросите его после входа в учетную запись сменить пароль (кнопка «Профиль» в левой части страницы под именем и фамилией пользователя, вкладка «Изменение пароля»).</p>


	</div>

{% endblock %}