{% extends 'knowledge.html' %}

{% block content %}

	<div class = "content">
		<h1 id="программа-мероприятий-2-тура">Программа мероприятий 2 тура</h1>

<table class="table">
  <tr class="heading">
  <td class="t-first" width="20%" align="center">﻿Даты</td><td class="t-first">Мероприятие</td>
  </tr>
  <tr><td class="t" align="center"><b>14, 15 апреля</b></td><td class="t">Регистрация участников</td></tr>
  <tr><td class="t" align="center"><b>16 апреля</b></td><td class="t">Стендовая сессия</td></tr>
  <tr><td class="t" align="center"><b>17 апреля</b></td><td class="t">Заседания по секциям</td></tr>
  <tr><td class="t" align="center"><b>18 апреля</b></td><td class="t">Экскурсии, стендовая методическая сессия</td></tr>
  <tr><td class="t" align="center"><b>19 апреля</b></td><td class="t">Награждение</td></tr>
</table>

<p><strong>А ещё будут:</strong></p>
<ul>
  <li>Фестиваль-конкурс художественного творчества</li>
  <li>Лекции от МГУ</li>
</ul>

<p>Даты уточняются</p>

	</div>

{% endblock %}