{% extends 'knowledge.html' %}

{% block content %}

	<div class="content">
		<h1 id="самостоятельная-регистрация-на-сайте-конкурса">Самостоятельная регистрация на сайте Конкурса</h1>

<p><img src="static/images/registration_on_site_img/registration_on_site-01.png" alt="" style="height:150px; float:left; margin:15px;"></p>

<p>Для регистрации на сайте нужно перейти по соответствующей <a href="https://vernadsky.info/reg">ссылке</a> под полями ввода логина и пароля и заполнить форму регистрации.</p>

<p>Справа от формы размещен текст с требованиями по заполнению полей. Все вопросы регистрации, как правило, сводятся к этим требованиям.</p>

<p><img src="static/images/registration_on_site_img/registration_on_site-02.png" alt="" style="height:400px; margin:15px;"></p>

<p><strong><em>Логин:</em></strong> может содержать латинские символы, цифры и знак подчеркивания. Другие символы не допускаются. <strong><em>Длина – от 4 до 12 символов.</em></strong></p>

<p><strong><em>e-mail:</em></strong> если у участника есть электронный адрес НЕ на сервере mail.ru (@mail.ru, @inbox.ru, @bk.ru, @list.ru), то лучше использовать его (на любом другом сервере).</p>

<p>mail.ru в большинстве случаев блокирует рассылки с нашего сайта, поэтому при указании такого адреса есть шанс не получить ссылку для завершения регистрации и оповещения об изменении статуса работы.</p>

<p><strong><em>Пароль:</em></strong> может содержать латинские символы, цифры и знак подчеркивания. Другие символы не допускаются. <strong><em>Длина – от 6 до 12 символов.</em></strong></p>


	</div>

{% endblock %}