{% extends 'base.html' %}

{% block content %}
    
	<div class = "content">
		<h1 id="2-тур-конкурса">2 тур Конкурса</h1>

<p>В этом разделе - информация о 2 туре Конкурса. В 2023 году он пройдет очно с 16 по 21 апреля. Часть участников приглашены только на Дополнительный онлайн-конкурс, который пройдет с 15 по 21 мая.</p>

<h3 id="официальное-приглашение-на-2-тур">Официальное приглашение на 2 тур.</h3>

<p>Такое приглашение бывает нужно для снятие учащихся с уроков. Отправить участнику <a href="static/files/2023_oficial_invitation.docx">этот файл</a>, попросить заполнить и прислать на подпись. Готовый к подписи файл переслать на <a href="mailto:n.leontovich@vernadsky.info">n.leontovich@vernadsky.info</a>.</p>

<p>С 20 марта по 6 апреля авторы, которые были допущены до 2 тура, должны подать в личном кабинете <a href="/apply_2_tour">заявку</a> на участие во 2 туре и <strong>после</strong> этого <a href="/invoice">оплатить оргвзнос</a>.</p>

<!--<p>С 10 по 31 марта авторы должны загрузить презентацию к своей работе в облако. Ссылки для загрузки по секциям доступны в личном кабинете, разделе <strong><em><code class="language-plaintext highlighter-rouge">Загрузить презентацию</code></em></strong>. Затем силами оргкомитета эти презентации будут загружены на платформу Canvas, где авторы будут иметь возможность посмотреть презентации друг друга и заранее придумать вопросы для научной дискуссии.</p>-->

<!--<p>Две презентации (для публикации в Canvas и для сопровождения доклада) могут быть загружены в разное время (не обязательно одновременно). Файл можно заменить: для этого нужно загрузить новую версию в то же облако, больше действий не требуется.</p>-->

<!--<p>Формат названия презентаций: <em>Номер работы - фамилии авторов</em>. Например, <em>210003 - Иванов, Петров</em>.</p>-->

<p>Сведения о лауреатах и дипломантах Конкурса вносятся в <a href="https://талантыроссии.рф/">Государственный информационный ресурс об одаренных детях</a>. Для внесения участника в Реестр необходимо внимательно заполнять форму заявки на 2 тур. </p>

<p>Ресурс используется для формирования списка претендентов на получение грантов Президента Российской Федерации для лиц, проявивших выдающиеся способности (в соответствии с Указом Президента Российской Федерации от 7 декабря 2015 г. № 607 «О мерах государственной поддержки лиц, проявивших выдающиеся способности»). Подробная информация о программе грантов на сайте <a href="https://грантыпрезидента.рф">грантыпрезидента.рф</a>.</p>

<p>Оргвзнос во 2 туре:</p>
<ul>
  <li>4 800 рублей за работу - для всех участников;</li>
  <li>3 900 рублей за работу - для работ - победителей региональных туров;</li>
  <li>Освобождаются от уплаты оргвзноса авторы работ, получивших наивысшие оценки по итогам рецензирования. Список этих работ будет опубликован до 16 марта включительно.</li>
</ul>

<p>Оргвзнос оплачивается за каждую участвующую работу, независимо от количества авторов. Если автор представляет две работы, ему нужно оплатить оргвзнос за обе работы. Руководители работ оргвзнос за себя не оплачивают.</p>

<p>Квитанции можно взять в разделе <a href="/invoice">Финансы</a>. Эту квитанцию можно скачать и отправить участнику. Участник может скачать квитанцию в личном кабинете, раздел <strong><em><code class="language-plaintext highlighter-rouge">Заявки на 2 тур</code></em></strong>.</p>

<p>Каждый участник, допущенный до 2 тура, получает 2 приглашения: одно на почту, другое в личный кабинет.</p>

<p><strong>Частый вопрос:</strong> “Мы получили приглашение на Тропу открытий, хотя мы в 10 классе”. Приглашение - общее для двух конкурсов, в нем указаны названия обоих. Убедиться в правильности секции работы можно в личном кабинете, раздел <strong><em><code class="language-plaintext highlighter-rouge">Поданные работы</code></em></strong>.</p>

<p><strong><em>Здесь можно скачать <a href="static/files/2023_inf_letter_offline.pdf">инфописьмо для тех, кто приглашен очно</a>,
    и <a href="static/files/2023_inf_letter_online.pdf">инфописьмо для тех, кто приглашен на Дополнительный онлайн-конкурс</a>.</em></strong>
    У участников, допущенных до 2 тура, оно размещено в разделе <strong><em><code class="language-plaintext highlighter-rouge">Поданные работы</code></em></strong> личного кабинета.
    Нужно нажать на лупу напротив работы и пролистать вниз до файлов: здесь доступны инфописьмо, рецензия и что-нибудь ещё.</p>

<p>Рецензию авторы на почту не получают. Её можно посмотреть в личном кабинете (где именно - смотри строчкой выше).</p>

	</div>

{% endblock %}