{% extends 'knowledge.html' %}

{% block content %}
    
	<div class = "content">
		<h1 id="олимпиада-им-в-и-вернадского">Олимпиада им. В. И. Вернадского</h1>

<p><strong><a href="http://vernadsky.online/" target="_blank">Междисциплинарная олимпиада по истории и обществознанию им. В. И. Вернадского</a></strong> проводится нашими партнерами в рамках Конкурса им. В. И. Вернадского.</p>

<p>Участвовать могут школьники не моложе 14 лет.</p>

<p>Отборочный этап Олимпиады проводится заочно. Информация об отборочном этапе размещена на сайте Олимпиады.</p>

<p>Помимо собственного отоборочного этапа Олимпиады возможно пройти во второй этап по итогам отборочных этапов партнеров. Список таких партнеров нужно уточнять у оргкомитета Олимпиады.</p>

<p><strong>Достигшие 14 лет школьники - авторы <em>индивидуальных</em> исследований (т.е. у работы один автор)</strong>, поданных на Конкурс им. В. И. Вернадского и <strong>допущенных до участия в 1 туре</strong>, <strong>допускаются до участия во втором туре Олимпиады</strong>.</p>

<p>Авторы коллективных исследований (с двумя или тремя авторами), желающие участвовать а Олимпиаде, должны подать заявку на участие в отборочном этапе Олимпиады и участвовать на общих основаниях.</p>

<p>Второй этап олимпиады проводится с 1 февраля по 1 апреля.</p>

<h3>Контакты оргкомитета Олимпиады:</h3>

<p>Телефон: <a href="tel:+7(495)725-36-38">+7(495)725-36-38</a></p>

<p>E-mail: <a href="mailto:vernadsky.info@gmail.com" target="_blank">vernadsky.info@gmail.com</a></p>

<p><a href="https://vk.com/club46179597" target="_blank">Официальная группа Вконтакте</a></p>

	</div>

{% endblock %}