{% extends 'knowledge.html' %}

{% block content %}
    
	<div class="content">
		<h1 id="рабочие-ресурсы">Рабочие ресурсы</h1>

<h2 id="рабочие-таблицы">Рабочие таблицы</h2>

<!--[Платежи](https://1drv.ms/x/s!AsaOuBzulZKnhJAqpHnft5BX0Gw0Eg?e=B1ie3e) и [Сверка шагов участников](https://1drv.ms/x/s!AsaOuBzulZKnhJBHdYLxQRNEpcc2EA?e=QXRzYT) ("Трясти участников")

[Видео-инструкция по внесению платежей](https://youtu.be/AT1dz3ZEFK4)
-->

<h2 id="общий-диск-google">Общий диск Google</h2>

<p>Общий диск Google открыт для всех по корпоративной почте и по личной - для тех, у кого эта личная почта на гугле.</p>

<p>Зайти на общий диск можно следующим образом: в Google-диске на левой панели выберите “Общие диски” и затем - диск “Вернак 2022”.</p>

<p><img src="static/images/source_img/g_drive.png" alt="картинка" style="height:250px; margin:15px;"></p>

<h2 id="виртуальная-атс">Виртуальная АТС</h2>

<p>Вы можете <a target="_blank" href="https://vats195842.megapbx.ru/#/">заходить в АТС</a>, чтобы смотреть историю звонков и слушать записи с тех периодов, когда (и если) мы ее будем подключать.</p>

<p>То же самое можно делать через приложения: скачать в <a target="_blank" href="https://apps.apple.com/ru/app/id1470948234">App Store</a> или <a target="_blank" href="https://play.google.com/store/apps/details?id=ru.megafon.vats">Google Play</a>.</p>

<p>Логин и пароль для входа ищите на личных e-mail, если не получится, обращайтесь к <a href="/user_page/14">Ане</a>.</p>

<h2 id="почта">Почта</h2>

<p>Вход в почту через ваши корпоративные учетные записи. Если не помните пароль, обращайтесь к <a href="/user_page/14">Ане</a> или <a href="/user_page/1">Наташе</a>, но постарайтесь почаще его помнить.</p>

<p>После того как вошли в свой ящик, нажмите на иконку вашей учетной записи и выберите пользователя <em>Конкурс им. В. И. Вернадского</em>, в углу иконки которого нарисован ключ, а рядом написано <em>Делегированный</em>.</p>

<p><img src="static/images/source_img/email-01.png" alt="картинка" style="height:100px; margin:15px;"> <img src="static/images/source_img/email-02.png" alt="картинка" style="height:100px; margin:15px;"></p>

	</div>

{% endblock %}