{% extends 'base.html' %}

{% block content %}

<h2 id="section">Что такое работа секретаря?</h2>
<p>Секретарь секции - человек, который обеспечивает техническую сторону работы секции. Его присутствие требуется в 3 дня в апреле. Чтения проходят очно в Москве.</p>
<p>На неделе Чтений во вторник проходит стендовая сессия, в среду - пленарные заседания по секциям, а в пятницу - награждение участников.</p>
<ul><li>
    <p><b>Общие задачи:</b></p>
    <p><b>На стендовой сессии</b> нужно помочь участникам сориентироваться в пространстве секции, объяснить им, как будет проходить экспертиза работ. Совместно с руководителем секции скоординировать экспертизу, а по окончании работы секции записать решения экспертной комиссии относительно итогов экспертизы и предоставить их в оргкомитет.</p>
    <p><b>На пленарных заседаниях секций</b> (они проходят только на секциях для 8-11 классов) - получить от приглашенных участников презентации, следить за регламентом выступлений, а после заседания и экспертного обсуждения - передать в оргкомитет окончательные итоги работы секции с учетом дополнений и корректировок после заседания.</p>
    <p><b>На награждении</b> нужно получить дипломы и призы на секцию, проверить, что все наградные документы напечатаны без ошибок, и никто из выступивших участников не окажется без диплома. Решить, какие участники получат какие призы и разложить все так, чтобы можно было быстро и удобно ориентироваться во время награждения. Помочь руководителю секции провести награждение.<p>
</li></ul>
<p>Секретари секций перед началом работы получат подробные инструкции и рекомендации.</p>
<p>Для работы на секции не нужно обязательно быть компетентным в соответствующей области, но для вас будет приятным бонусом, если тематика выбранной секции будет вам интересна: вы будете присутствовать выступлениях участников секции и на экспертном обсуждении работ.</p>
<p>До начала Чтений может быть работа по подготовке секций, но она не будет привязана ко времени, и ее можно будет делать тогда, когда вам удобно.</p>

{% endblock %}