{% extends 'base.html' %}

{% block content %}

<h2>Работы, участвующие без оргвзноса</h2>

<p>2-4 работы от каждой секции получат возможность участвовать во 2 туре Конкурса без оплаты оргвзноса.
    Перейдите на страницу секции для добавления работ в список.
    Работы региональных туров в список не включаются и от оргвзноса не освобождаются.</p>

<h4>Всего для бесплатного участия отмечено <b>{{ total }}</b>
    {% if total % 10 == 1 %}
    работа.
    {% elif total % 10 in [2, 3, 4] %}
    работы.
    {% elif total % 10 in [5, 6, 7, 8, 9, 0] %}
    работ.
    {% endif %}</h4>
<br>

<table frame="void" border="2px" bordercolor="#4962A4">
    <tr>
        <td align="center"><b>
            Секция
        </b></td>
        <td align="center"><b>
            Отмечено
        </b></td>
        <td align="center"><b>
            Список работ
        </b></td>
    </tr>
    {% for key in no_fee %}
    <tr>
        <td>
            {% if session['type'] in ['admin', 'org', 'manager']
            or (session['supervisor'] == True and  session['cat_id'] == no_fee[key]['cat_id'])
            or (session['secretary'] == True and  session['cat_id'] == no_fee[key]['cat_id']) %}
                <a href="/category_page/{{ no_fee[key]['id'] }}">{{ no_fee[key]['name'] }}</a>
            {% else %}
                <a href="/category_page/{{ no_fee[key]['id'] }}">{{ no_fee[key]['name'] }}</a>
            {% endif %}
        </td>
        <td align="center">
            {{ no_fee[key]['works_no'] }}
        </td>
        <td align="center">
            {{ no_fee[key]['works'] }}
        </td>
    {% endfor %}
</table>
<br>
{% endblock %}